
<br />	
<h3>Editar Mi Cuenta</h3>

<div class ="ouser_edit">

<br />	
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,  :multipart => true }) do |f| %>



<div>
	<label>Nombre</label>
	<%= f.text_field :first_name, autofocus: true , :class=>"form-control"%>
</div>
<br />	
<div>
	<label>Apellido</label>
	<%= f.text_field :last_name, autofocus: true , :class=>"form-control" %>
</div>
<br />	
<div>
	<%= f.label :email %>
	<%= f.email_field :email, autofocus: true, :class=>"form-control"%>
</div>
<br />	
<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>
	Currently waiting confirmation for: <%= resource.unconfirmed_email %>
</div>
<% end %>

<div>
	<label>Contraseña</label> <i>(Deja este campo en blanco si no quieres cambiar la contraseña)</i>
	<%= f.password_field :password, autocomplete: "off" , :class=>"form-control" %>
</div>
<br />	
<div>
	<label>Confirmar Contraseña</label>
	<%= f.password_field :password_confirmation, autocomplete: "off" , :class=>"form-control"%>
</div>
<br />	
<div>
	<label>Contraseña Actual</label> <i>(Se necesita de tu contraseña actual para realizar los cambios)</i>
	<%= f.password_field :current_password, autocomplete: "off" , :class=>"form-control"%>
</div>
<br />	
<div>
	<%= f.submit "GUARDAR CAMBIOS", :class=>"buttonregister" %>
</div>
<% end %>

</div>