<div class="heading-register">
  <%= image_tag "logobr.svg" , :class=>"logobrief" %>
  <h2>Regístrate</h2>
</div>
<div class="register-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div><%= f.label :first_name %><br />
    <%= f.text_field :first_name, :class=>"form-control", autofocus: true %></div>

    <div ><%= f.label :last_name %><br />
    <%= f.text_field :last_name , :class=>"form-control" %></div>

    <div ><%= f.label :company %><br />
    <%= f.text_field :company , :class=>"form-control" %></div>

    <div ><%= f.label :email %><br />
    <%= f.email_field :email , :class=>"form-control" %></div>

    <div ><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" , :class=>"form-control"  %></div>

    <div ><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" , :class=>"form-control"  %></div>

    <div><%= f.submit "Sign up" ,:class=>"buttonregister"%></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
