<h1>Actualizar queja</h1>

<%= form_for(@complaint, :html => {:class => 'form-horizontal', :'id' => 'default'}) do |f| %>

   

    <% if @complaint.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>
        <ul>
          <% @complaint.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
	
    <div class="row">
		<div class="col-md-12 col-xs-12">
	
	<input type="radio" name="group1" value="Milk"> Milk<br>
	<input type="radio" name="group1" value="Butter" checked> Butter<br>
	<input type="radio" name="group1" value="Cheese"> Cheese
	
	</div>
	</div>
	
    <div class="row">
		<div class="col-md-12 col-xs-12">

    <div class="field">
      <%= f.label :fecha_hechos %><br />
      <% if current_user.role_id == 3 %>
        <%= f.text_field :fecha_hechos, :value => (f.object.fecha_hechos.strftime('%d-%m-%Y %H:%M') if f.object.fecha_hechos ), :"data-field"=>"datetime", :class=>"form-control", :required=>"required", :disabled=>"disabled" %>
      <% else %>
        <%= f.text_field :fecha_hechos, :value => (f.object.fecha_hechos.strftime('%d-%m-%Y %H:%M') if f.object.fecha_hechos ), :"data-field"=>"datetime", :class=>"form-control", :required=>"required" %>
      <% end %>
    </div>
	</div>
	</div>
	
	<br />
    
    <div class="row">
		<div class="col-md-12 col-xs-12">
	
    <div class="field">
      <%= f.label :hechos %><br />
      <% if current_user.role_id == 3 %>
        <%= f.text_area :hechos, :class => "form-control", :disabled=>"disabled" %>
      <% else %>
        <%= f.text_area :hechos, :class => "form-control" %>
      <% end %>
    </div>
	
	</div>
	</div>
	
	
    <div class="actions">
      <%= f.submit "Guardar", :class => "buttonregister" %>
    </div>
	<div id="dtBox"></div>
<%end%>