<br />
  
	

    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la actuación</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_evaluacion_fecha_actuacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la comunicación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_evaluacion_fecha_comunicacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la notificación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_evaluacion_fecha_notificacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
			 <%= f.check_box :ordinario_evaluacion_autoinhibitorio, :class => "inline_class" %>
	       <label class ="inline_class">Auto inhibitorio</label>
		   
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.check_box :ordinario_evaluacion_remision_por_competencia, :class => "inline_class" %>
			<label class= "inline_class">Remisión por competencia</label>
	    </div>
	</div>
	
	</div>
	
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
			 <%= f.check_box :ordinario_evaluacion_citacion_audiencia, :class => "inline_class" %>
	       <label class ="inline_class">Citación a audiencia</label>
		   
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
			<%=radio_button("complaint", "etapa_id", "2")%>
	       <label class ="inline_class">Indagación preliminar</label>
	    </div>
	</div>
	
	</div>
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
			 
  			<%=radio_button("complaint", "etapa_del_expediente", "Apertura de investigación")%>
  	       <label class ="inline_class">Apertura de investigación</label>
		   
		   
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    
	    </div>
	</div>
	
	</div>
	
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
		   <%= f.check_box :ordinario_evaluacion_nulidad, :class => "inline_class" %>
	       <label class="inline_class" >Nulidad</label>
		   
 	      
	    </div>
	</div>
	
	</div>
	
		
	<%if @complaint.ordinario_evaluacion_nulidad%>
	  <div id="evaluacion_nulidad" style="display: true;">
	<%else%>
	  <div id="evaluacion_nulidad" style="display: none;">
	<%end%>
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la actuación de nulidad:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_evaluacion_nulidad_fecha_actuacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la comunicación de nulidad:</label>
	
	     </div>
	</div>
	

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_evaluacion_nulidad_fecha_comunicacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la notificación de nulidad:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_evaluacion_nulidad_fecha_notificacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
	
	<!--Recurso de reposicion nulidad-->

    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
		   <%= f.check_box :ordinario_evaluacion_nulidad_recurso, :class => "inline_class" %>
	       <label class="inline_class" >Recurso de reposición</label>
		   
 	      
	    </div>
	</div>
	
	</div>
	
	<%if @complaint.ordinario_evaluacion_nulidad_recurso%>
	  <div id="evaluacion_nulidad_recurso" style="display: true;">
	<%else%>
	  <div id="evaluacion_nulidad_recurso" style="display: none;">
	<%end%>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Recurso de reposición. Fecha de la actuación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_evaluacion_nulidad_recurso_actuacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Recurso de reposición. Fecha de la comunicación:</label>
	
	     </div>
	</div>
	

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_evaluacion_nulidad_recurso_comunicacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Recurso de reposición. Fecha de la notificación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_evaluacion_nulidad_recurso_notificacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	</div>
	
	<!--Fin Recurso de reposicion nulidad-->
	
	<!--Acciones nulidad-->
	
    <div class="row">
	  <div class="col-md-6 col-xs-12">
	     <div class="field">
	
			<%=radio_button("complaint", "ordinario_evaluacion_nulidad_decretada", "Decretada")%>
	       <label class ="inline_class">Decretada</label>
		   
	     </div>
	   </div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		   <%=radio_button("complaint", "ordinario_evaluacion_nulidad_decretada", "No decretada")%>
		   <label class ="inline_class">No Decretada</label>
	    </div>
	</div>
	
	</div>
	
	<%if @complaint.ordinario_evaluacion_nulidad_decretada == "Decretada"%>
	  <div id="nulidades_opciones_evaluacion" style="display: true;">
	<%else%>
	  <div id="nulidades_opciones_evaluacion" style="display: none;">
	<%end%>
	
    <div class="row">
        <div class="col-md-12">
		
		<% @etapas.each do |nulidad| %>
		  <div class ="col-md-6">
			
 		   <%=radio_button("complaint", "nulidad_etapa_id", "#{nulidad.id}")%>
 		   <label class ="inline_class"><%=nulidad.name%></label>
			
	      </div>
		<%end%>
	    </div>
	</div>
	
	</div>
	
	<br />
	<!--Fin Acciones nulidad-->
	
	</div>
	
	
    <div class="row">
		<div class="col-md-12 col-xs-12">
	
    <div class="actions">
      <input class="form-control button-next  btn btn-info envio_de_formulario" name="commit" type="submit" step="step1" value="Guardar">
    </div>
	
	</div>
	
	</div>
	
	<br /><br />
	

	
	
	