<%= form_for(@complaint, :html => {:class => 'form-horizontal', :'id' => 'default'}) do |f| %>
  
  <fieldset title="Datos">
    <legend><b>Información general</b></legend>
	
	
	
 	<br />
	
     <div class="row">
 		<div class="col-md-6 col-xs-12">
 	     <div class="field">
	
 	<%= f.radio_button :tipo_de_proceso, 'Proceso Ordinario', :class => "inline_class" %> 
 	<%= label :tipo_de_proceso, 'Proceso Ordinario', :class => "inline_class" %>
	
 	     </div>
 	</div>

 	<div class="col-md-6 col-xs-12">
 	   <div class="field">
 	<%= f.radio_button :tipo_de_proceso, 'Proceso Verbal', :class => "inline_class" %>
 	<%= label :tipo_de_proceso, 'Proceso Verbal', :class => "inline_class" %>
 	    </div>
 	</div>
	
 	</div>
	
 	 <%=f.hidden_field :creador_id, :value => current_user.id%>     

      <div class="row">
		 
    		<div class="col-md-6 col-xs-12">
    	     <div class="field">
              <label>Fecha de de los hechos</label>
           
            </div>
   	   </div>
		 
  		<div class="col-md-6 col-xs-12">
  	     <div class="field">
            <%= f.datetime_select :fecha_hechos %>
           
          </div>
 	   </div>
 	</div>
	
      <div class="row">
		 
  		<div class="col-md-6 col-xs-12">
  	     <div class="field">
 			<label> Nombre del implicado </label>
            <%= f.text_field :nombre_del_implicado, :class=>"form-control" %>
           
          </div>
 	   </div>
	   
  		<div class="col-md-6 col-xs-12">
  	     <div class="field">
 			 <label> Cargo del implicado </label>
            <%= f.text_field :cargo_del_implicado, :class=>"form-control" %>
           
          </div>
 	   </div>
	   
 	</div>

     <div class="row">
 		<div class="col-md-12 col-xs-12">
	
           <div class="field">
             <label>Lugar de los hechos</label>
       	  	<%= f.text_field :lugar_de_los_hechos, :class=>"form-control" %>
          </div>
 	</div>
 	</div>
	
     <div class="row">
 		<div class="col-md-12 col-xs-12">
 	     <div class="field">
	
	
 			 <label> Origen de queja</label>
 	</div>
 	     </div>
 	</div>
	
     <div class="row">
 		<div class="col-md-4 col-xs-12">
 	     <div class="field">
	
 	<%= f.radio_button :origen_de_queja, 'De oficio', :class => "inline_class" %> 
 	<label class ="inline_class"> De oficio </label>
	
 	     </div>
 	</div>

 	<div class="col-md-4 col-xs-12">
 	   <div class="field">
 	<%= f.radio_button :origen_de_queja, 'Por particular', :class => "inline_class" %> 
 	<label class ="inline_class"> Por particular </label>
 	    </div>
 	</div>
	
 	<div class="col-md-4 col-xs-12">
 	   <div class="field">
 	<%= f.radio_button :origen_de_queja, 'Quejoso', :class => "inline_class" %> 
 	<label class ="inline_class"> Quejoso </label>
 	    </div>
 	</div>
	
 	</div>
	
     <div class="row">
 		<div class="col-md-4 col-xs-12">
 	     <div class="field">
	
 	<%= f.radio_button :origen_de_queja, 'Informe servidor público', :class => "inline_class" %> 
 	<label class ="inline_class">Informe servidor público </label>
	
 	     </div>
 	</div>

 	<div class="col-md-4 col-xs-12">
 	   <div class="field">
 	<%= f.radio_button :origen_de_queja, 'Por anónimo', :class => "inline_class" %> 
 	<label class ="inline_class"> Por anónimo</label>
 	    </div>
 	</div>
	
	
 	</div>
	
	
	
	
    
     <div class="row">
 		<div class="col-md-12 col-xs-12">
	
     <div class="field">
       <%= f.label :hechos %><br />
       <% if current_user.role_id == 3 %>
         <%= f.text_area :hechos, :class => "form-control", :disabled=>"disabled" %>
       <% else %>
         <%= f.text_area :hechos, :class => "form-control" %>
       <% end %>
     </div>
 	</div>
 	</div>
	
     <div class="row">
 		<div class="col-md-12 col-xs-12">
	
          <div class="field">
          
 		  <label>Conducta a investigar disciplinariamente</label>
           <%= f.text_area :conducta_a_investigar, :class => "form-control" %>
     </div>
 	</div>
 	</div>
	
     <div class="actions">
       <%= f.submit "Guardar", :class => "form-control button-next  btn btn-info" %>
     </div>
	
 	<br /><br />
	

	
	
  </fieldset>
  

  <fieldset title="Etapa 1">
    <legend><b>Citación a audiencia</b></legend>
      
  </fieldset>
  
  <fieldset title="Etapa 2">
    <legend><b>Primera audiencia</b></legend>
      
  </fieldset>
  
  <fieldset title="Etapa 3">
    <legend><b>Segunda audiencia</b></legend>
	
  </fieldset>
  
  
 
  </fieldset>
  
  <%end%>

  <% content_for :javascript do %>
    <script type="text/javascript">
  
  	$('.date_field').datetimepicker({
	  timepicker:true,
	  formatTime:'H:i',
	  formatDate:'y/m/d',
	});
  
    /*$( ".date_field" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
  	*/	
  
      $(document).ready(function (){
		  
		 
      });
    </script>
  <% end %>

