	
						
									<div class="panel-body">
										<div class="stepy-tab">
						                  	<ul id="default-titles" class="stepy-titles clearfix">

											  <li id="default-title-0" class="current-step">
						                        <div>Etapa 1</div>
						                      </li>	
											  
						                      <li id="default-title-1">
						                        <div>Etapa 2</div>
						                      </li>
											  
						                      <li id="default-title-1">
						                        <div>Etapa 3</div>
						                      </li>
											  
						                      <li id="default-title-1">
						                        <div>Etapa 4</div>
						                      </li>
											  
						                      <li id="default-title-1">
						                        <div>Etapa 5</div>
						                      </li>							  
								  
						                      <li id="default-title-1">
						                        <div>Etapa 6</div>
						                      </li>
								  								  
						                      <li id="default-title-1">
						                        <div>Etapa 7</div>
						                      </li>
								  
						                      <li id="default-title-0">
						                        <div>Etapa 8</div>
						                      </li>
											  
						                  	</ul>
						                </div>
										<hr />
							
				  
				
							  <%= form_for(@complaint, :html => {:class => 'form-horizontal', :'id' => 'default'}) do |f| %>
  
							    <fieldset title="Datos">
							      <legend><b>Información general</b></legend>
								  <%= render 'informacion_general', :f => f %>
							    </fieldset>
								
							    <fieldset title="Datos">
							      <legend><b>EVALUACIÓN DE LA NOTICIA DISCIPLINARIA</b></legend>
								  <%= render 'verbal_evaluacion_de_la_noticia_disciplinaria', :f => f %>
							    </fieldset>
								
							    <fieldset title="Datos">
							      <legend><b>INDAGACIÓN PRELIMINAR</b></legend>
								  <%= render 'verbal_indagacion_preliminar', :f => f %>
							    </fieldset>
								
							    <fieldset title="Datos">
							      <legend><b>APERTURA DE LA INVESTIGACIÓN DISCIPLINARIA</b></legend>
								  <%= render 'verbal_apertura_de_la_investigacion_disciplinaria', :f => f %>
							    </fieldset>
								
							    <fieldset title="Datos">
							      <legend><b>PRORROGA DE LA INVESTIGACIÓN DISCIPLINARIA</b></legend>
								  <%= render 'verbal_prorroga_de_la_investigacion_disciplinaria', :f => f %>
							    </fieldset>
  

							    <fieldset title="Etapa 1">
							      <legend><b>Citación a audiencia</b></legend>
								  <%= render 'citacion_audiencia', :f => f %>
      
							    </fieldset>
  
							    <fieldset title="Etapa 2">
							      <legend><b>Primera audiencia</b></legend>
      							  <%= render 'primera_audiencia', :f => f %>
							    </fieldset>
  
							    <fieldset title="Etapa 3">
							      <legend><b>Segunda audiencia</b></legend>
								  <%= render 'segunda_audiencia', :f => f %>
							    </fieldset>

							    </fieldset>
  
							    <%end%>

							    <% content_for :javascript do %>
							      <script type="text/javascript">
  
							    	$('.date_field').datetimepicker({
							  	  timepicker:true,
							  	  formatTime:'H:i',
							  	  formatDate:'y/m/d',
							  	});
  
							      /*$( ".date_field" ).datepicker({
							        dateFormat: "yy-mm-dd"
							      });
							    	*/	
  
							        $(document).ready(function (){
										
										$('#complaint_verbal_citacion_nulidad').click(function(){
											$('#citacion_nulidad').toggle();
										});
										
										$('#complaint_verbal_citacion_nulidad_recurso').click(function(){
											$('#citacion_nulidad_recurso').toggle();
										});
										
										
										$('#complaint_verbal_primera_nulidad').click(function(){
											$('#primera_nulidad').toggle();
										});
										
										$('#complaint_verbal_primera_nulidad_recurso').click(function(){
											$('#primera_nulidad_recurso').toggle();
										});
										
										
										$('#complaint_verbal_primera_alegatos').click(function(){
											$('#primera_alegatos').toggle();
										});
										
										
										$('#complaint_verbal_segunda_nulidad').click(function(){
											$('#segunda_nulidad').toggle();
										});
										
										$('#complaint_verbal_segunda_nulidad_recurso').click(function(){
											$('#segunda_nulidad_recurso').toggle();
										});
										
										$('#complaint_verbal_segunda_apelacion').click(function(){
											$('#segunda_apelacion').toggle();
										});
		 
		 							   //Nulidad decretada
		 							   
										$('#complaint_verbal_citacion_nulidad_decretada_decretada').click(function(){
											$('#nulidades_opciones_citacion').toggle();
										});
										
										$('#complaint_verbal_primera_nulidad_decretada_decretada').click(function(){
											$('#nulidades_opciones_primera_audiencia').toggle();
										});
										
										
										$('#complaint_verbal_segunda_nulidad_decretada_decretada').click(function(){
											$('#nulidades_opciones_segunda_audiencia').toggle();
										});
										
										//decreto de pruebas
										$("#complaint_verbal_decreto_de_pruebas").click(function(){
											$('#primera_decreto_de_pruebas').toggle();
										});
									   
									   
							        });
							      </script>
							    <% end %>

							  
				
				
									</div>
						
						
				
						