<div class="panel-body">
							<div class="stepy-tab">
			                  	<ul id="default-titles" class="stepy-titles clearfix">

								  <li id="default-title-0" class="current-step">
			                        <div>Datos</div>
			                      </li>								  
								  
			                      <li id="default-title-1">
			                        <div>Etapa 2</div>
			                      </li>
								  								  
			                      <li id="default-title-1">
			                        <div>Etapa 3</div>
			                      </li>
								  
			                      <li id="default-title-0">
			                        <div>Etapa 4</div>
			                      </li>
								  
			                      <li id="default-title-0">
			                        <div>Etapa 5</div>
			                      </li>
								  
			                      <li id="default-title-0">
			                        <div>Etapa 6</div>
			                      </li>
								  
			                      <li id="default-title-0">
			                        <div>Etapa 7</div>
			                      </li>
								  
			                      <li id="default-title-0">
			                        <div>Etapa 8</div>
			                      </li>
								  
			                      <li id="default-title-0">
			                        <div>Etapa 9</div>
			                      </li>
								  
			                     
								  
			                  	</ul>
			                </div>
							<hr />
							
				  
				
				 <%= form_for(@complaint, :html => {:class => 'form-horizontal', :id => 'default'}) do |f| %>
  
				   <%=f.hidden_field :creador_id, :value => current_user.id%>   
  
				   <% if @complaint.errors.any? %>
				     <div id="error_explanation">
				       <h2><%= pluralize(@complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>
				       <ul>
				         <% @complaint.errors.full_messages.each do |msg| %>
				           <li><%= msg %></li>
				         <% end %>
				       </ul>
				     </div>
				   <% end %>
  

				   <fieldset title="Datos">
				     <legend><b>Información general</b></legend>
	
				 	<%= render 'informacion_general', :f => f %>
	 
				   </fieldset>
  
				   <fieldset title="Etapa 1">
				     <legend><b>Evaluación de la noticia disciplinaria</b></legend>
				     <%= render 'evaluacion_de_la_noticia_disciplinaria', :f => f %>
	
				   </fieldset>

				   <fieldset title="Etapa 2">
				     <legend><b>Indagación preliminar</b></legend>
				      <%= render 'indagacion_preliminar', :f => f %>
				   </fieldset>
  
				   <fieldset title="Etapa 3">
				     <legend><b>Apertura de la investigación disciplinaria</b></legend>
				 	<%= render 'apertura_de_la_investigacion_disciplinaria', :f => f %>
				   </fieldset>
  
				   <fieldset title="Etapa 4">
				     <legend><b>Prorroga de la investigación disciplinaria</b></legend>
				 	<%= render 'prorroga_de_la_investigacion_disciplinaria', :f => f %>
				   </fieldset>
  
				   <fieldset title="Etapa 5">
				     <legend><b>Cierre de la investigación</b></legend>
				 	<%= render 'cierre_de_la_investigacion', :f => f %>
				   </fieldset>
  
				   <fieldset title="Etapa 6">
				     <legend><b>Pliego de cargos </b></legend>
				 	<%= render 'pliego_de_cargos', :f => f %>
				   </fieldset>
  
				   <fieldset title="Etapa 7">
				     <legend><b>Descargos</b></legend>
				 	<%= render 'descargos', :f => f %>
				   </fieldset>
  
				   <fieldset title="Etapa 8">
				     <legend><b>Alegatos de conclusión</b></legend>
				 	<%= render 'alegatos_de_conclusion', :f => f %>
				   </fieldset>
  
				   <fieldset title="Etapa 9">
				     <legend><b>Fallo de primera Instancia</b></legend>
				 	<%= render 'fallo_de_primera_instancia', :f => f %>
				   </fieldset>
  
				   <fieldset title="Etapa 10">
				     <legend><b>Fallo de segunda instancia</b></legend>
				 	<%= render 'fallo_de_segunda_instancia', :f => f %>
				   </fieldset>
  

				 <% end %>
				
				
		</div>
		
<% content_for :javascript do %>
	<script type="text/javascript">

		$(function(){
		//Logica nulidad
		
		$('#complaint_ordinario_evaluacion_nulidad').click(function(){
			$('#evaluacion_nulidad').toggle();
		});
	
		$('#complaint_ordinario_indagacion_nulidad').click(function(){
			$('#indagacion_nulidad').toggle();
		});
	
	
		$('#complaint_ordinario_apertura_nulidad').click(function(){
			$('#apertura_nulidad').toggle();
		});
	
		$('#complaint_ordinario_prorroga_nulidad').click(function(){
			$('#prorroga_nulidad').toggle();
		});
	
	
		$('#complaint_ordinario_cierre_nulidad').click(function(){
			$('#cierre_nulidad').toggle();
		});
	
		$('#complaint_ordinario_pliego_de_cargos_nulidad').click(function(){
			$('#pliego_nulidad').toggle();
		});
	
		$('#complaint_ordinario_descargos_nulidad').click(function(){
			$('#descargos_nulidad').toggle();
		});
	
	
		$('#complaint_ordinario_alegatos_nulidad').click(function(){
			$('#alegatos_nulidad').toggle();
		});
	
	
		$('#complaint_ordinario_fallo_en_primera_nulidad').click(function(){
			$('#primera_nulidad').toggle();
		});
	
	
		$('#complaint_ordinario_fallo_en_segunda_nulidad').click(function(){
			$('#segunda_nulidad').toggle();
		});
		
		//logica nulidad reposicion
		
		$('#complaint_ordinario_evaluacion_nulidad_recurso').click(function(){
			$('#evaluacion_nulidad_recurso').toggle();
		});
		
		$('#complaint_ordinario_indagacion_nulidad_recurso').click(function(){
			$('#indagacion_nulidad_recurso').toggle();
		});
		
		$('#complaint_ordinario_apertura_nulidad_recurso').click(function(){
			$('#apertura_nulidad_recurso').toggle();
		});
		
		$('#complaint_ordinario_prorroga_nulidad_recurso').click(function(){
			$('#prorroga_nulidad_recurso').toggle();
		});
		
		$('#complaint_ordinario_cierre_nulidad_recurso').click(function(){
			$('#cierre_nulidad_recurso').toggle();
		});
		
		$('#complaint_ordinario_pliego_nulidad_recurso').click(function(){
			$('#pliego_nulidad_recurso').toggle();
		});
		
		$('#complaint_ordinario_descargos_nulidad_recurso').click(function(){
			$('#descargos_nulidad_recurso').toggle();
		});
		
		$('#complaint_ordinario_alegatos_nulidad_recurso').click(function(){
			$('#alegatos_nulidad_recurso').toggle();
		});
		
		$('#complaint_ordinario_fallo_en_primera_nulidad_recurso').click(function(){
			$('#fallo_en_primera_nulidad_recurso').toggle();
		});
		
		$('#complaint_ordinario_fallo_en_segunda_nulidad_recurso').click(function(){
			$('#fallo_en_segunda_nulidad_recurso').toggle();
		});
		
	
		////Terminacion y Archivo logica recurso de apelacion
		
		$('#complaint_ordinario_indagacion_terminacion_archivo_del_expediente').click(function(){
			$('#indagacion_archivo').toggle();
		});
	
		$('#complaint_ordinario_indagacion_terminacion_recurso_de_apelacion').click(function(){
			$('#indagacion_archivo_ap').toggle();
		});
		
		$('#complaint_ordinario_apertura_terminacion_archivo_del_expediente').click(function(){
			$('#apertura_archivo').toggle();
		});
	
		$('#complaint_ordinario_apertura_terminacion_recurso_de_apelacion').click(function(){
			$('#apertura_archivo_ap').toggle();
		});
		
		$('#complaint_ordinario_prorroga_terminacion_archivo_del_expediente').click(function(){
			$('#prorroga_archivo').toggle();
		});
	
		$('#complaint_ordinario_prorroga_terminacion_recurso_de_apelacion').click(function(){
			$('#prorroga_archivo_ap').toggle();
		});
	
		$('#complaint_ordinario_cierre_terminacion_archivo_del_expediente').click(function(){
			$('#cierre_archivo').toggle();
		});
		
		$('#complaint_ordinario_cierre_terminacion_recurso_de_apelacion').click(function(){
			$('#cierre_archivo_ap').toggle();
		});
	
		$('#complaint_ordinario_descargos_terminacion_archivo_del_expediente').click(function(){
			$('#descargos_archivo').toggle();
		});
		
		$('#complaint_ordinario_descargos_terminacion_recurso_de_apelacion').click(function(){
			$('#descargos_archivo_ap').toggle();
		});
	
		$('#complaint_ordinario_alegatos_terminacion_archivo_del_expediente').click(function(){
			$('#alegatos_archivo').toggle();
		});
		
		$('#complaint_ordinario_alegatos_terminacion_recurso_de_apelacion').click(function(){
			$('#alegatos_archivo_ap').toggle();
		});
		////Terminacion y Archivo logica recurso de apelacion
		
		$('#complaint_ordinario_indagacion_terminacion_confirma').click(function(){
			$('#indagacion_confirma_archivo').toggle();
		});
		
		$('#complaint_ordinario_apertura_terminacion_confirma').click(function(){
			$('#apertura_confirma_archivo').toggle();
		});
		
		$('#complaint_ordinario_prorroga_terminacion_confirma').click(function(){
			$('#prorroga_confirma_archivo').toggle();
		});
		
		$('#complaint_ordinario_cierre_terminacion_terminacion_confirma').click(function(){
			$('#cierre_confirma_archivo').toggle();
		});
		
		$('#complaint_ordinario_descargos_terminacion_confirma').click(function(){
			$('#descargos_confirma_archivo').toggle();
		});
		
		$('#complaint_ordinario_alegatos_terminacion_terminacion_confirma').click(function(){
			$('#alegatos_confirma_archivo').toggle();
		});
		
		
		////////
		///Logica nulidades opciones
		
		$('#complaint_ordinario_evaluacion_nulidad_decretada_decretada').click(function(){
			$('#nulidades_opciones_evaluacion').toggle();
		});
		
		$('#complaint_ordinario_indagacion_nulidad_decretada_decretada').click(function(){
			$('#nulidades_opciones_indagacion').toggle();
		});
		
		$('#complaint_ordinario_apertura_nulidad_decretada_decretada').click(function(){
			$('#nulidades_opciones_apertura').toggle();
		});
		
		$('#complaint_ordinario_prorroga_nulidad_decretada_decretada').click(function(){
			$('#nulidades_opciones_prorroga').toggle();
		});
		
		$('#complaint_ordinario_cierre_nulidad_decretada_decretada').click(function(){
			$('#nulidades_opciones_cierre').toggle();
		});
		
		$('#complaint_ordinario_pliego_nulidad_decretada_decretada').click(function(){
			$('#nulidades_opciones_pliego').toggle();
		});
		
		$('#complaint_ordinario_descargos_nulidad_decretada_decretada').click(function(){
			$('#nulidades_opciones_descargos').toggle();
		});
		
		$('#complaint_ordinario_alegatos_nulidad_decretada_decretada').click(function(){
			$('#nulidades_opciones_alegatos').toggle();
		});
		
		$('#complaint_ordinario_fallo_en_primera_nulidad_decretada_decretada').click(function(){
			$('#nulidades_opciones_fallo_en_primera').toggle();
		});
		
		$('#complaint_ordinario_fallo_en_segunda_nulidad_decretada_decretada').click(function(){
			$('#nulidades_opciones_fallo_en_segunda').toggle();
		});
		
		/////////////////////////////////////
		//Fallo de primera
		$('#complaint_ordinario_fallo_en_primera_recurso').click(function(){
			$('#primera_recurso').toggle();
		});
		
		$('#complaint_ordinario_fallo_en_primera_revocatoria').click(function(){
			$('#primera_revocatoria').toggle();
		});
		
		
		//////
		///Rovocatoria directa logica
		
		$("#complaint_ordinario_indagacion_revocatoria_directa").click(function(){
			$('#indagacion_revocatoria_directa').toggle();
		});
		
		$("#complaint_ordinario_apertura_revocatoria_directa").click(function(){
			$('#apertura_revocatoria_directa').toggle();
		});
		
		$("#complaint_ordinario_prorroga_revocatoria_directa").click(function(){
			$('#prorroga_revocatoria_directa').toggle();
		});
		
		$("#complaint_ordinario_cierre_revocatoria_directa").click(function(){
			$('#cierre_revocatoria_directa').toggle();
		});
		
		$("#complaint_ordinario_descargos_revocatoria_directa").click(function(){
			$('#descargos_revocatoria_directa').toggle();
		});
		
		$("#complaint_ordinario_alegatos_revocatoria_directa").click(function(){
			$('#alegatos_revocatoria_directa').toggle();
		});
		
		
		
		//Steps logica memoria
	    //Steps logica archivos
	
		//Logica de archivos en steps
		$('.float_none').click(function(){
			if($(this).attr("id") == "default-title-0"){
			
			 $(".ofile_step0").show();
			 $(".ofile_step1").hide();
			 $(".ofile_step2").hide();
			 $(".ofile_step3").hide();
			 $(".ofile_step4").hide();
			 $(".ofile_step5").hide();
			 $(".ofile_step6").hide();
			 $(".ofile_step7").hide();
			 $(".ofile_step8").hide();
			 $(".ofile_step9").hide();
			 $(".ofile_step10").hide();
			 
			}else if($(this).attr("id") == "default-title-1"){
			  
			 $(".ofile_step0").hide();
			 $(".ofile_step1").show();
			 $(".ofile_step2").hide();
			 $(".ofile_step3").hide();
			 $(".ofile_step4").hide();
			 $(".ofile_step5").hide();
			 $(".ofile_step6").hide();
			 $(".ofile_step7").hide();
			 $(".ofile_step8").hide();
			 $(".ofile_step9").hide();
			 $(".ofile_step10").hide();
				
			}else if($(this).attr("id") == "default-title-2"){
				
			 $(".ofile_step0").hide();
			 $(".ofile_step1").hide();
			 $(".ofile_step2").show();
			 $(".ofile_step3").hide();
			 $(".ofile_step4").hide();
			 $(".ofile_step5").hide();
			 $(".ofile_step6").hide();
			 $(".ofile_step7").hide();
			 $(".ofile_step8").hide();
			 $(".ofile_step9").hide();
			 $(".ofile_step10").hide();
				
			}else if($(this).attr("id") == "default-title-3"){
				
			 $(".ofile_step0").hide();
			 $(".ofile_step1").hide();
			 $(".ofile_step2").hide();
			 $(".ofile_step3").show();
			 $(".ofile_step4").hide();
			 $(".ofile_step5").hide();
			 $(".ofile_step6").hide();
			 $(".ofile_step7").hide();
			 $(".ofile_step8").hide();
			 $(".ofile_step9").hide();
			 $(".ofile_step10").hide();
				
			}else if($(this).attr("id") == "default-title-4"){
				
			 $(".ofile_step0").hide();
			 $(".ofile_step1").hide();
			 $(".ofile_step2").hide();
			 $(".ofile_step3").hide();
			 $(".ofile_step4").show();
			 $(".ofile_step5").hide();
			 $(".ofile_step6").hide();
			 $(".ofile_step7").hide();
			 $(".ofile_step8").hide();
			 $(".ofile_step9").hide();
			 $(".ofile_step10").hide();
				
			}else if($(this).attr("id") == "default-title-5"){
				
			 $(".ofile_step0").hide();
			 $(".ofile_step1").hide();
			 $(".ofile_step2").hide();
			 $(".ofile_step3").hide();
			 $(".ofile_step4").hide();
			 $(".ofile_step5").show();
			 $(".ofile_step6").hide();
			 $(".ofile_step7").hide();
			 $(".ofile_step8").hide();
			 $(".ofile_step9").hide();
			 $(".ofile_step10").hide();
				
			}else if($(this).attr("id") == "default-title-6"){
				
			 $(".ofile_step0").hide();
			 $(".ofile_step1").hide();
			 $(".ofile_step2").hide();
			 $(".ofile_step3").hide();
			 $(".ofile_step4").hide();
			 $(".ofile_step5").hide();
			 $(".ofile_step6").show();
			 $(".ofile_step7").hide();
			 $(".ofile_step8").hide();
			 $(".ofile_step9").hide();
			 $(".ofile_step10").hide();
				
			}else if($(this).attr("id") == "default-title-7"){
			
			 $(".ofile_step0").hide();
			 $(".ofile_step1").hide();
			 $(".ofile_step2").hide();
			 $(".ofile_step3").hide();
			 $(".ofile_step4").hide();
			 $(".ofile_step5").hide();
			 $(".ofile_step6").hide();
			 $(".ofile_step7").show();
			 $(".ofile_step8").hide();
			 $(".ofile_step9").hide();
			 $(".ofile_step10").hide();
				
			}else if($(this).attr("id") == "default-title-8"){
			
			 $(".ofile_step0").hide();
			 $(".ofile_step1").hide();
			 $(".ofile_step2").hide();
			 $(".ofile_step3").hide();
			 $(".ofile_step4").hide();
			 $(".ofile_step5").hide();
			 $(".ofile_step6").hide();
			 $(".ofile_step7").hide();
			 $(".ofile_step8").show();
			 $(".ofile_step9").hide();
			 $(".ofile_step10").hide();
				
			}else if($(this).attr("id") == "default-title-9"){
			
			 $(".ofile_step0").hide();
			 $(".ofile_step1").hide();
			 $(".ofile_step2").hide();
			 $(".ofile_step3").hide();
			 $(".ofile_step4").hide();
			 $(".ofile_step5").hide();
			 $(".ofile_step6").hide();
			 $(".ofile_step7").hide();
			 $(".ofile_step8").hide();
			 $(".ofile_step9").show();
			 $(".ofile_step10").hide();
			
			}else if($(this).attr("id") == "default-title-10"){
			
			 $(".ofile_step0").hide();
			 $(".ofile_step1").hide();
			 $(".ofile_step2").hide();
			 $(".ofile_step3").hide();
			 $(".ofile_step4").hide();
			 $(".ofile_step5").hide();
			 $(".ofile_step6").hide();
			 $(".ofile_step7").hide();
			 $(".ofile_step8").hide();
			 $(".ofile_step9").hide();
			 $(".ofile_step10").show();	
			
			}
			
			$('#step_area').html('<input type="hidden" name="step" value="'+$(this).attr("id")+'" /><input type="hidden" name="complaint_id" value="<%=@complaint.id%>" />');
		});
	
		
		
		
		$(".envio_de_formulario").click(function(){
			$('#default').append('<input type="hidden" name="step" value="'+$(this).attr("step")+'" />')
		});
		
		
		
		});
		
</script>
<%end%>