<%= form_for(@complaint, :html => {:class => 'form-horizontal', :'id' => 'default'}) do |f| %>
  
  <%=f.hidden_field :creador_id, :value => current_user.id%>   
  
  <% if @complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>
      <ul>
        <% @complaint.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset title="Datos">
    <legend><b>Información general</b></legend>
	
	<%= render 'informacion_general', :f => f %>
	 
  </fieldset>
  
  <fieldset title="Etapa 1">
    <legend><b>Evaluación de la noticia disciplinaria</b></legend>
    <%= render 'evaluacion_de_la_noticia_disciplinaria', :f => f %>
	
  </fieldset>

  <fieldset title="Etapa 2">
    <legend><b>Indagación preliminar</b></legend>
     <%= render 'indagacion_preliminar', :f => f %>
  </fieldset>
  
  <fieldset title="Etapa 3">
    <legend><b>Apertura de la investigación disciplinaria</b></legend>
	<%= render 'apertura_de_la_investigacion_disciplinaria', :f => f %>
  </fieldset>
  
  <fieldset title="Etapa 4">
    <legend><b>Prorroga de la investigación disciplinaria</b></legend>
	<%= render 'prorroga_de_la_investigacion_disciplinaria', :f => f %>
  </fieldset>
  
  <fieldset title="Etapa 5">
    <legend><b>Cierre de la investigación</b></legend>
	<%= render 'cierre_de_la_investigacion', :f => f %>
  </fieldset>
  
  <fieldset title="Etapa 6">
    <legend><b>Pliego de cargos </b></legend>
	<%= render 'pliego_de_cargos', :f => f %>
  </fieldset>
  
  <fieldset title="Etapa 7">
    <legend><b>Descargos</b></legend>
	<%= render 'descargos', :f => f %>
  </fieldset>
  
  <fieldset title="Etapa 8">
    <legend><b>Alegatos de conclusión</b></legend>
	<%= render 'alegatos_de_conclusion', :f => f %>
  </fieldset>
  
  <fieldset title="Etapa 9">
    <legend><b>Fallo de primera Instancia</b></legend>
	<%= render 'fallo_de_primera_instancia', :f => f %>
  </fieldset>
  
  <fieldset title="Etapa 10">
    <legend><b>Fallo de segunda instancia</b></legend>
	<%= render 'fallo_de_segunda_instancia', :f => f %>
  </fieldset>
  

<% end %>

  <% content_for :javascript do %>
    <script type="text/javascript">
 
  
      $(document).ready(function (){
		
		
				
      });
    </script>
  <% end %>

