<br /><br />
<div class="row state-overview">
	
	
	
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol all">
                <%=fa_icon "laptop"%>
            </div>
            <div class="value">
                <h1><%= @numero_de_quejas %></h1>
				<a href="/">Expedientes en el sistema</a> 
            </div>
            <br>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol all">
                <%=fa_icon "legal"%>
            </div>
            <div class="value">
                <h1><%=@quejas_en_tramite%></h1>
				<a href="/en_tramite">Expedientes en tramite</a>       
            </div>
        </section>
    </div>
	
   
	
   
   <div class="col-lg-3 col-sm-6">
       <section class="panel">
           <div class="symbol all">
               <%=fa_icon "question-circle"%>
           </div>
           <div class="value">
               <h1><%= @quejas_no_asignadas%></h1>
			   <a href="/no_asignadas">Expedientes no asignados</a> 
               
           </div>
       </section>
   </div>
	
    
	
 

</div>

<div class="row state-overview">
	
	
   <div class="col-lg-3 col-sm-6">
       <section class="panel">
           <div class="symbol all">
               <%=fa_icon "book"%>
           </div>
           <div class="value">
               <h1><%= @procedimient_ordinario%></h1>
			   <a href="/procedimiento_ordinario">Procedimiento Ordinario</a> 
               
           </div>
       </section>
   </div>
	
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol all">
                <%=fa_icon "commenting"%>
            </div>
            <div class="value">
                <h1><%= @procedimient_verbal %></h1>
                <a href="/procedimiento_verbal">Procedimiento Verbal</a> 
            </div>
        </section>
    </div>
	
	
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol all">
                <%=fa_icon "archive"%>
            </div>
            <div class="value">
                <h1><%= @expedientes_archivados %></h1>
                <a href="/expedientes_archivados">Expedientes archivados</a> 
            </div>
        </section>
    </div>
	
	<!--
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol all">
               <%=fa_icon "area-chart"%>
            </div>
            <div class="value">
                <a href="/estadisticas">Estadisticas</a> 
            </div>
        </section>
    </div>
	-->
	
</div>