<br><br>



<div class="row">
    <div class="col-lg-6">
		
	  <%= form_tag('/complaints/search',  method: :get) do -%>
	  	
	  <%=text_field_tag "data", @params, :class => "form-control"%>
	  
	  
	
	 
	    
	</div>
	
	 <div class="col-lg-3">
    <%= submit_tag 'Buscar', :class => "btn btn-default bluebackground" %>
 
     <% end -%>
	 
	 <br /><br /><br />
	 
		</div>
		 
</div>


<div class="row">
    <div class="col-lg-12">
        <!--work progress start-->
        <section class="expedientes">
            
                
             <h3><%=@title%></h3>
            
      
            <table class="table">
                <thead>
                    <tr>
                        <th>Consecutivo (ID)</th>
						<th>Año</th>
						<th>Tipo De Proceso</th>
                        <th>Fecha Hechos</th>
                        <th>Fecha Queja</th>
						<th>Fecha De Recibida</th>
						<th>Abogado</th>
						<th>Tramite de la queja</th>
						<th>Preescripción</th>
						<th>Caducidad</th>
						<th>Etapa</th>
						<th>Última Actuación</th>
						<th>Fecha Limite</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
					
					
                    <% @complaints.each do |complaint| %>
                      <tr>
                        <td><%= complaint.consecutivo %></td>
						 <td><%=complaint.ano %></td>
						<td><%=complaint.tipo_de_proceso%></td>
                        <td><%=complaint.fecha_hechos%>
							<%if complaint.fecha_hechos%>
							<%=l complaint.fecha_hechos,  :format => :long%>
							<%else%> 
						    <%= complaint.fecha_hechos_string if complaint.fecha_hechos_string%>
							<%end%>
						</td>
                        <td>
							<%if complaint.fecha_queja%>
								<%=l complaint.fecha_queja,  :format => :long %> 
							<%else%>
						   	 	<%= complaint.fecha_queja_string if complaint.fecha_queja_string%>
							<%end%>
						</td>
						<td>
							<% if complaint.fecha_recibido_en_esta_dependencia%>
							<%=l complaint.fecha_recibido_en_esta_dependencia,  :format => :long%> 
							<%else%>
							<%= complaint.fecha_recibido_en_esta_dependencia_string if complaint.fecha_recibido_en_esta_dependencia_string%>
							<%end%>
						</td>
						<td>
							<%if complaint.first_name%>
								<%=complaint.first_name%>  <%=complaint.last_name%>
							<%else%>
							    <%=complaint.nombre_de_abogado_asignado%> 
							<%end%>
						</td>
						<td>
							<%=semaforo_css_pro("tramite",complaint.dias_tramite,@semaforo).html_safe%>		
						</td>

						<td>
							<%=semaforo_css_pro("prescripcion",complaint.dias_prescripcion,@semaforo).html_safe%>	
							
						</td>
						<td>
							<%=semaforo_css_pro("caducidad",complaint.dias_caducidad,@semaforo).html_safe%>	

						</td>
						 <td><%= complaint.name %> </td>
                         <td>
 							<%= obtener_nombre_de_ultima_actuacion(complaint.campo_de_la_ultima_actuacion)%> <br /><br />
 							<%=l complaint.ultima_actuacion,  :format => :long if complaint.ultima_actuacion%> 
							
 						</td>
						<td>
							<%=l complaint.fecha_limite,  :format => :long if complaint.fecha_limite%> 
						</td>
						<td>
						    <% if current_user.profesional? %>
							 <%= link_to edit_complaint_path(complaint) do %>
							    <i class="fa fa-pencil"></i>
							 <%end%>
						    <% elsif current_user.aux_administrativo? %>
 							 <%= link_to edit_complaint_path(complaint) do %>
 							    <i class="fa fa-pencil"></i>
 							 <%end%>
						    <% elsif current_user.admin? || current_user.jefe_oficina? %>
							 
							 <%= link_to edit_complaint_path(complaint) do %>
							    <i class="fa fa-pencil"></i>
							 <%end%>
							 <%= link_to assign_complaints_path(cid: complaint.id ) do %>
   						  		<i class="fa fa-plus-circle"></i>
							 <% end %>
						     
							 <%= link_to complaint, method: :delete, data: { confirm: 'Are you sure?' } do %>
							 	<i class="fa fa-remove"></i>
							 <%end%>
						    <%end%>
						 </td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
        </section>
        <!--work progress end-->
		
		<div class="apple_pagination">
		  <%= will_paginate @posts %>
		</div>
		
		
		
		<div >
		
		
    </div>
   
</div>

<% content_for :footer do %>
<script type="text/javascript">




$('#complaints_table').DataTable( {
	searching: false,
	paging: false,
	"order": [[ 1, "desc" ]]
} );

</script>
<% end %>

