	<br />
    <div class="row">
	 
  		<div class="col-md-6 col-xs-12">
  	     <div class="field">
            <label>Consecutivo</label>
          
          </div>
 	   </div>
	 
		<div class="col-md-6 col-xs-12">
	     <div class="field">
          #<%= f.text_field :consecutivo %>
          
        </div>
  	 </div>
	</div>
	

    <div class="row">
	 
  		<div class="col-md-6 col-xs-12">
  	     <div class="field">
            <label>Año</label>
          
          </div>
 	   </div>
	 
		<div class="col-md-6 col-xs-12">
	     <div class="field">
		
		<%= f.select :ano, [ "1998", "1999", "2000", "2001", "2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019" ], :prompt => 'Seleccione el año' %>
          
        </div>
  	 </div>
	</div>
	
	
   
	 
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	<%= f.radio_button :tipo_de_proceso, 'PROCESO ORDINARIO', :class => "inline_class" %> 
	<%= label :tipo_de_proceso, 'PROCESO ORDINARIO', :class => "inline_class" %>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
	<%= f.radio_button :tipo_de_proceso, 'PROCESO VERBAL', :class => "inline_class" %>
	<%= label :tipo_de_proceso, 'PROCESO VERBAL', :class => "inline_class" %>
	    </div>
	</div>
	
	</div>
	
      <div class="row">
	 
    		<div class="col-md-6 col-xs-12">
    	     <div class="field">
              <label>Fecha Queja</label>
          
            </div>
   	   </div>
	 
  		<div class="col-md-6 col-xs-12">
  	     
            <div class="field">
			<%=f.datetime_select :fecha_queja, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}, :start_year => 1984%>
			</div>
    	 </div>
  	</div>
	
	
	
      <div class="row">
	 
    		<div class="col-md-6 col-xs-12">
    	     <div class="field">
              <label>Fecha de recibido en esta dependencia</label>
          
            </div>
   	   </div>
	 
  		<div class="col-md-6 col-xs-12">
  	     
            <div class="field">
			<%=f.datetime_select :fecha_recibido_en_esta_dependencia, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}, :start_year => 1984%>
			</div>
    	 </div>
  	</div>
	

     <div class="row">
		 
   		<div class="col-md-4 col-xs-12">
   	     <div class="field">
             <label>Fecha de los hechos</label>
           
           </div>
  	   </div>
	   </div>
	   
	   <div class="row">
   		<div class="col-md-6 col-xs-12">
   	     <div class="field">
   		     <%= f.check_box :fecha_de_los_hechos_por_establecer, :class => "inline_class" %>
   	         <label class="inline_class" >Por establecer</label>
           </div>
  	   </div>
		 
 		<div class="col-md-6 col-xs-12">
 	     <div class="field">
           
           <%=f.datetime_select :fecha_hechos, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
         </div>
	   </div>
	</div>
	
     <div class="row">
		 
 		<div class="col-md-6 col-xs-12">
 	     <div class="field">
			<label> Nombre del disciplinado </label>
           <%= f.text_field :disciplinado, :class=>"form-control" %>
           
         </div>
	   </div>
	   
 		<div class="col-md-6 col-xs-12">
 	     <div class="field">
			 <label> Cedula del disciplinado </label>
           <%= f.text_field :cedula_disciplinado, :class=>"form-control" %>
           
         </div>
	   </div>
	   
	</div>
	
	<div class="row">
	<div class="col-md-12 col-xs-12">
     <div class="field">
		 <label> Cargo del implicado </label>
        <%= f.text_field :cargo_del_implicado, :class=>"form-control" %>
        
      </div>
   </div>
	</div>
	
    <div class="row">
		<div class="col-md-12 col-xs-12">
	
          <div class="field">
            <label>Lugar de los hechos</label>
      	  	<%= f.text_field :lugar_de_los_hechos, :class=>"form-control" %>
         </div>
	</div>
	</div>
	
    <div class="row">
		<div class="col-md-12 col-xs-12">
	     <div class="field">
	
	
			 <label> Origen de queja</label>
	</div>
	     </div>
	</div>
	
    <div class="row">
		<div class="col-md-4 col-xs-12">
	     <div class="field">
	
	<%= f.radio_button :origen_de_queja, 'DE OFICIO', :class => "inline_class" %> 
	<label class ="inline_class"> De oficio </label>
	
	     </div>
	</div>

	<div class="col-md-4 col-xs-12">
	   <div class="field">
	<%= f.radio_button :origen_de_queja, 'POR PARTICULAR', :class => "inline_class" %> 
	<label class ="inline_class"> Por particular </label>
	    </div>
	</div>
	
	<div class="col-md-4 col-xs-12">
	   <div class="field">
	<%= f.radio_button :origen_de_queja, 'QUEJOSO', :class => "inline_class" %> 
	<label class ="inline_class"> Quejoso </label>
	    </div>
	</div>
	
	</div>
	
    <div class="row">
		<div class="col-md-4 col-xs-12">
	     <div class="field">
	
	<%= f.radio_button :origen_de_queja, 'INFORME DE SERVIDOR PUBLICO', :class => "inline_class" %> 
	<label class ="inline_class">Informe servidor público </label>
	
	     </div>
	</div>

	<div class="col-md-4 col-xs-12">
	   <div class="field">
	<%= f.radio_button :origen_de_queja, 'POR ANONIMO', :class => "inline_class" %> 
	<label class ="inline_class"> Por anónimo</label>
	    </div>
	</div>
	
	
	</div>
	
	
     <div class="row">
		 
		 
   		<div class="col-md-6 col-xs-12">
			
			
   	     <div class="field">
  			 <label>Nombre del quejoso</label>
             <%= f.text_field :nombre_del_quejoso, :class=>"form-control" %>
           
           </div>
  	   </div>
		 
 		<div class="col-md-6 col-xs-12">
			
			
 	     <div class="field">
			 <label>Cedula del Quejoso</label>
              <%= f.text_field :cedula_del_quejoso, :class=>"form-control" %>
           
         </div>
	   </div>
	</div>
	
    
    <div class="row">
		<div class="col-md-12 col-xs-12">
	
    <div class="field">
      <%= f.label :hechos %><br />
      <% if current_user.role_id == 3 %>
        <%= f.text_area :hechos, :class => "form-control", :disabled=>"disabled" %>
      <% else %>
        <%= f.text_area :hechos, :class => "form-control" %>
      <% end %>
    </div>
	</div>
	</div>
	
    <div class="row">
		<div class="col-md-12 col-xs-12">
	
         <div class="field">
          
		  <label>Conducta a investigar disciplinariamente</label>
          <%= f.text_area :conducta_a_investigar, :class => "form-control" %>
    </div>
	</div>
	</div>
	
    <div class="row">
		<div class="col-md-12 col-xs-12">
			
			
			   <div class="field">
					<%=radio_button("complaint", "etapa_id", "1")%>
			       <label class ="inline_class">Evaluacion de la noticia disciplinaria</label>
			    </div>
			
			
	</div>
	</div>
	
	
    <div class="row">
		<div class="col-md-12 col-xs-12">
	
    <div class="actions">
      <input class="form-control button-next  btn btn-info envio_de_formulario" name="commit" type="submit" step="step0" value="Guardar">
    </div>
	
	</div>
	
	
	<br />
	
	</div>
	
	<br /><br />
      
	 
