<br />
<%= form_for @ofile, url: ofiles_path, html: { multipart: true } do |form| %>
  <%= form.hidden_field :complaint_id, :value => @complaint.id %>
  <div class="field">
    <%= form.label :avatar, "Añadir archivo" %><br />
  	<%= form.file_field :avatar, :class => "form-control" %>
  </div>
  <br>	
  <div class="actions">
  	<%= form.submit "Subir archivo", :class => "form-control button-next  btn btn-info" %>
  </div>
<% end %>