<div class="row">
	<div class="col-lg-12">
		
<ul class="grid cs-style-3" >
	<% for ofile in @ofiles %>
					
	<%if ofile.avatar_content_type.include? "image"%>
	<li style="display:none;" class="ofiles ofile_<%=ofile.step%>">
		<figure>
			<%= image_tag ofile.avatar.url %>
			<figcaption>
				<h3><%= ofile.avatar_file_name %></h3>
				<%= link_to ofile.avatar_file_name, ofile.avatar.url, :"target" => "_blank", :"class" => "fancybox", :"rel" => "group" %>
			</figcaption>
		</figure>
	</li>
	<%else%>
						
	<li style="display:block;" class="ofiles ofile_<%=ofile.step%>">
						
		<%=link_to ofile.avatar_file_name, ofile.avatar.url%>
						
	</li>
						
	<%end%>
	<%end%>
</ul>
<br />

<br />
<%= form_for @ofile, url: ofiles_path, html: { multipart: true, :id =>"ofiles_form" } do |form| %>
  <%= form.hidden_field :complaint_id, :value => @complaint.id %>
  <div class="field">
    <%= form.label :avatar, "Añadir archivo" %><br />
  	<%= form.file_field :avatar, :class => "form-control" %>
  </div>
  <br>	
  
  <div id ="step_area">
	  
	  
  </div>
  
  <div class="actions">
  	<%= form.submit "Subir archivo", :class => "form-control button-next  btn btn-info" %>
  </div>
<% end %>

</div>
</div>
