

    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la actuación</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_pliego_de_cargos_fecha_actuacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la comunicación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_pliego_de_cargos_fecha_comunicacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la notificación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_pliego_de_cargos_fecha_notificacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
	    </div>
	</div>
	
	</div>
	
	
	<%if @complaint.etapa_del_expediente == "Variación pliego de cargos"%>
	   <div id="pliego_segunda_fecha" style="display: true;">
	<%else%>
	  <div id="pliego_segunda_fecha" style="display: none;">
	<%end%>
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Segunda fecha de la actuación</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_pliego_de_cargos_segunda_fecha_actuacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Segunda fecha de la comunicación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_pliego_de_cargos_segunda_fecha_comunicacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Segunda fecha de la notificación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_pliego_de_cargos_segunda_fecha_notificacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	</div>
	
    <div class="row">
		
	<div class="col-md-6 col-xs-12">
	   <div class="field">
			<%=radio_button("complaint", "etapa_id", "7")%>
	       <label class ="inline_class">Descargos</label>
	    </div>
	</div>
	
	</div>
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
		   <%= f.check_box :ordinario_pliego_de_cargos_nulidad, :class => "inline_class" %>
	       <label class="inline_class" >Nulidad</label>
		   
 	      
	    </div>
	</div>
	
	</div>
	
	
    
	
	<%if @complaint.ordinario_pliego_de_cargos_nulidad%>
	  <div id="pliego_nulidad" style="display: true;">
	<%else%>
	 <div id="pliego_nulidad" style="display: none;">
	<%end%>
	
	
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la actuación de nulidad:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_pliego_de_cargos_nulidad_fecha_actuacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la comunicación de nulidad:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_pliego_de_cargos_nulidad_fecha_comunicacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la notificación de nulidad:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_pliego_de_cargos_nulidad_fecha_notificacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
	    </div>
	</div>
	
	</div>

	
	<!--Recurso de reposicion nulidad-->

    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
		   <%= f.check_box :ordinario_pliego_nulidad_recurso, :class => "inline_class" %>
	       <label class="inline_class" >Recurso de reposición</label>
		   
 	      
	    </div>
	</div>
	
	</div>
	
	<%if @complaint.ordinario_pliego_nulidad_recurso%>
	  <div id="pliego_nulidad_recurso" style="display: true;">
	<%else%>
	  <div id="pliego_nulidad_recurso" style="display: none;">
	<%end%>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Recurso de reposición. Fecha de la actuación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_pliego_nulidad_recurso_actuacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Recurso de reposición. Fecha de la comunicación:</label>
	
	     </div>
	</div>
	

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_pliego_nulidad_recurso_comunicacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Recurso de reposición. Fecha de la notificación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_pliego_nulidad_recurso_notificacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	</div>
	
	<!--Fin Recurso de reposicion nulidad-->
	
	<!--Acciones nulidad-->
	
    <div class="row">
	  <div class="col-md-6 col-xs-12">
	     <div class="field">
	
			<%=radio_button("complaint", "ordinario_pliego_nulidad_decretada", "Decretada")%>
	       <label class ="inline_class">Decretada</label>
		   
	     </div>
	   </div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		   <%=radio_button("complaint", "ordinario_pliego_nulidad_decretada", "No decretada")%>
		   <label class ="inline_class">No Decretada</label>
	    </div>
	</div>
	
	</div>
	
	<%if @complaint.ordinario_pliego_nulidad_decretada == "Decretada"%>
	  <div id="nulidades_opciones_pliego" style="display: true;">
	<%else%>
	  <div id="nulidades_opciones_pliego" style="display: none;">
	<%end%>
	
    <div class="row">
        <div class="col-md-12">
		
		<% @etapas.each do |nulidad| %>
		  <div class ="col-md-6">
			
 		   <%=radio_button("complaint", "nulidad_etapa_id", "#{nulidad.id}")%>
 		   <label class ="inline_class"><%=nulidad.name%></label>
			
	      </div>
		<%end%>
	    </div>
	</div>
	
	</div>
	
	<br />
	<!--Fin Acciones nulidad-->
	
</div>

    <div class="row">
		<div class="col-md-12 col-xs-12">
	
    <div class="actions">
      <input class="form-control button-next  btn btn-info envio_de_formulario" name="commit" type="submit" step="step6" value="Guardar">
    </div>
	
	</div>
	
	</div>
	
	<br /><br />
	
	
	
	
	
	