    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la actuación</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :verbal_primera_fecha_actuacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la comunicación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :verbal_primera_fecha_comunicacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la notificación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :verbal_primera_fecha_notificacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
	    </div>
	</div>
	
	</div>
	
    <div class="row">
		<div class="col-md-12 col-xs-12">
	     <div class="field">
	
 			<%=radio_button("complaint", "etapa_id", "13")%>
 	       <label class ="inline_class">Segunda audiencia</label>
	
	     </div>
	</div>
	</div>
	
   <div class="row">
	<div class="col-md-6 col-xs-12">
     <div class="field">

	   <%= f.check_box :verbal_primera_alegatos, :class => "inline_class" %>
       <label class="inline_class" >Alegatos de conclusión</label>
	   
	      
    </div>
</div>

</div>


    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
		   <%= f.check_box :verbal_decreto_de_pruebas, :class => "inline_class" %>
	       <label class="inline_class" >Decreto de pruebas</label>
		   
 	      
	    </div>
	</div>
	
	</div>
	
	
	
	<%if @complaint.verbal_decreto_de_pruebas%>
	  <div id="primera_decreto_de_pruebas" style="display: true;">
	<%else%>
	 <div id="primera_decreto_de_pruebas" style="display: none;">
	<%end%>



	   <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">

	       <label>Decreto de pruebas. Fecha de la actuación:</label>

	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :verbal_decreto_de_pruebas_fecha_actuacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>

	</div>


	   <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">

	       <label>Decreto de pruebas. Fecha de la comunicación:</label>

	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :verbal_decreto_de_pruebas_fecha_comunicacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>

	</div>


	   <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">

	       <label>Decreto de pruebas. Fecha de la notificación:</label>

	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :verbal_decreto_de_pruebas_fecha_notificacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>

	</div>

	</div>
	
	

	


<%if @complaint.verbal_primera_alegatos%>
  <div id="primera_alegatos" style="display: true;">
<%else%>
 <div id="primera_alegatos" style="display: none;">
<%end%>



   <div class="row">
	<div class="col-md-6 col-xs-12">
     <div class="field">

       <label>Alegatos de conclusión. Fecha de la actuación:</label>

     </div>
</div>

<div class="col-md-6 col-xs-12">
   <div class="field">
	    <%= f.datetime_select :verbal_primera_alegatos_fecha_actuacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
    </div>
</div>

</div>


   <div class="row">
	<div class="col-md-6 col-xs-12">
     <div class="field">

       <label>Alegatos de conclusión. Fecha de la comunicación:</label>

     </div>
</div>

<div class="col-md-6 col-xs-12">
   <div class="field">
	    <%= f.datetime_select :verbal_primera_alegatos_fecha_comunicacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
    </div>
</div>

</div>


   <div class="row">
	<div class="col-md-6 col-xs-12">
     <div class="field">

       <label>legatos de conclusión. Fecha de la notificación:</label>

     </div>
</div>

<div class="col-md-6 col-xs-12">
   <div class="field">
	    <%= f.datetime_select :verbal_primera_alegatos_fecha_notificacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
    </div>
</div>

</div>

</div>


   <div class="row">
	<div class="col-md-6 col-xs-12">
     <div class="field">

	   <%= f.check_box :verbal_primera_nulidad, :class => "inline_class" %>
       <label class="inline_class" >Nulidad</label>
	   
	      
    </div>
</div>

</div>

<%if @complaint.verbal_primera_nulidad%>
  <div id="primera_nulidad" style="display: true;">
<%else%>
 <div id="primera_nulidad" style="display: none;">
<%end%>



   <div class="row">
	<div class="col-md-6 col-xs-12">
     <div class="field">

       <label>Fecha de la actuación de nulidad:</label>

     </div>
</div>

<div class="col-md-6 col-xs-12">
   <div class="field">
	    <%= f.datetime_select :verbal_primera_nulidad_fecha_actuacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
    </div>
</div>

</div>


   <div class="row">
	<div class="col-md-6 col-xs-12">
     <div class="field">

       <label>Fecha de la comunicación de nulidad:</label>

     </div>
</div>

<div class="col-md-6 col-xs-12">
   <div class="field">
	    <%= f.datetime_select :verbal_primera_nulidad_fecha_comunicacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
    </div>
</div>

</div>


   <div class="row">
	<div class="col-md-6 col-xs-12">
     <div class="field">

       <label>Fecha de la notificación de nulidad:</label>

     </div>
</div>

<div class="col-md-6 col-xs-12">
   <div class="field">
	    <%= f.datetime_select :verbal_primera_nulidad_fecha_notificacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
    </div>
</div>

</div>



<!--Recurso de reposicion nulidad-->

   <div class="row">
	<div class="col-md-6 col-xs-12">
     <div class="field">

	   <%= f.check_box :verbal_primera_nulidad_recurso, :class => "inline_class" %>
       <label class="inline_class" >Recurso de reposición</label>
	   
	      
    </div>
</div>

</div>

<%if @complaint.verbal_primera_nulidad_recurso%>
  <div id="primera_nulidad_recurso" style="display: true;">
<%else%>
  <div id="primera_nulidad_recurso" style="display: none;">
<%end%>


   <div class="row">
	<div class="col-md-6 col-xs-12">
     <div class="field">

       <label>Recurso de reposición. Fecha de la actuación:</label>

     </div>
</div>

<div class="col-md-6 col-xs-12">
   <div class="field">
	    <%= f.datetime_select :verbal_primera_nulidad_recurso_actuacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
    </div>
</div>

</div>


   <div class="row">
	<div class="col-md-6 col-xs-12">
     <div class="field">

       <label>Recurso de reposición. Fecha de la comunicación:</label>

     </div>
</div>


<div class="col-md-6 col-xs-12">
   <div class="field">
	    <%= f.datetime_select :verbal_primera_nulidad_recurso_comunicacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
    </div>
</div>

</div>


   <div class="row">
	<div class="col-md-6 col-xs-12">
     <div class="field">

       <label>Recurso de reposición. Fecha de la notificación:</label>

     </div>
</div>

<div class="col-md-6 col-xs-12">
   <div class="field">
	    <%= f.datetime_select :verbal_primera_nulidad_recurso_notificacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
    </div>
</div>

</div>

</div>

<!--Fin Recurso de reposicion nulidad-->

<!--Acciones nulidad-->

	<!--Acciones nulidad-->
	
    <div class="row">
	  <div class="col-md-6 col-xs-12">
	     <div class="field">
	
			<%=radio_button("complaint", "verbal_primera_nulidad_decretada", "Decretada")%>
	       <label class ="inline_class">Decretada</label>
		   
	     </div>
	   </div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		   <%=radio_button("complaint", "verbal_primera_nulidad_decretada", "No decretada")%>
		   <label class ="inline_class">No Decretada</label>
	    </div>
	</div>
	
	</div>
	
	

	
	<!--Fin Recurso de reposicion nulidad-->
	
	<!--Acciones nulidad-->
	
	<%if @complaint.verbal_primera_nulidad_decretada == "Decretada"%>
	  <div id="nulidades_opciones_primera_audiencia" style="display: true;">
	<%else%>
	  <div id="nulidades_opciones_primera_audiencia" style="display: none;">
	<%end%>
	
    <div class="row">
        <div class="col-md-12">
		
		<% @etapas.each do |nulidad| %>
		  <div class ="col-md-6">
			
 		   <%=radio_button("complaint", "nulidad_etapa_id", "#{nulidad.id}")%>
 		   <label class ="inline_class"><%=nulidad.name%></label>
			
	      </div>
		<%end%>
	    </div>
	</div>
	
	</div>
	
	<br />
	<!--Fin Acciones nulidad-->





</div>

<div class="row">
	<div class="col-md-12 col-xs-12">
	<br />
	<br />
   <div class="actions">
     <input class="form-control button-next  btn btn-info envio_de_formulario" name="commit" type="submit" step="step7" value="Guardar">
   </div>
<br />
<br />
</div>