


    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la actuación</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_fecha_actuacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la comunicación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_fecha_comunicacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la notificación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_fecha_notificacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
  			<%=radio_button("complaint", "etapa_id", "5")%>
  	       <label class ="inline_class">Cierre de la investigación</label>
	      
			
	    </div>
	</div>
	
	
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
  			<%=radio_button("complaint", "etapa_id", "6")%>
  	       <label class ="inline_class">Pliego de cargos</label>
	      
			
	    </div>
	</div>
	
	</div>
	
    <div class="row">
		<div class="col-md-12 col-xs-12">
	     <div class="field">
	
		    <%= f.check_box :ordinario_prorroga_terminacion_archivo_del_expediente, :class => "inline_class" %>
			<label class ="inline_class">Archivo del expediente</label>
	
	     </div>
	</div>
	</div>
	
	<%if @complaint.ordinario_prorroga_terminacion_archivo_del_expediente%>
	   <div id="prorroga_archivo" style="display: true;">
	<%else%>
	  <div id="prorroga_archivo" style="display: none;">
	<%end%>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>ARCHIVO DEL EXPEDIENTE. Fecha de la actuación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_terminacion_fecha_actuacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>ARCHIVO DEL EXPEDIENTE. Fecha de la comunicación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_terminacion_fecha_comunicacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>ARCHIVO DEL EXPEDIENTE. Fecha de la notificación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_terminacion_fecha_notificacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
	    </div>
	</div>
	
	</div>
	</div>
	
	<!--Revocatoria directa logica-->
	
     <div class="row">
 		<div class="col-md-6 col-xs-12">
 	     <div class="field">
	
 		   <%= f.check_box :ordinario_prorroga_revocatoria_directa, :class => "inline_class" %>
 	       <label class="inline_class" >Revocatoria directa</label>
		   
 	      
 	    </div>
 	</div>
	
 	</div>
	
 	<%if @complaint.ordinario_prorroga_revocatoria_directa%>
 	  <div id="prorroga_revocatoria_directa" style="display: true;">
 	<%else%>
 	  <div id="prorroga_revocatoria_directa" style="display: none;">
 	<%end%>
	
	
     <div class="row">
 		<div class="col-md-6 col-xs-12">
 	     <div class="field">
	
 	       <label>Revocatoria directa. Fecha de la actuación:</label>
	
 	     </div>
 	</div>

 	<div class="col-md-6 col-xs-12">
 	   <div class="field">
 		    <%= f.datetime_select :ordinario_prorroga_revocatoria_directa_fecha_actuacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
 	    </div>
 	</div>
	
 	</div>
	
	
     <div class="row">
 		<div class="col-md-6 col-xs-12">
 	     <div class="field">
	
 	       <label>Revocatoria directa. Fecha de la comunicación:</label>
	
 	     </div>
 	</div>
	

 	<div class="col-md-6 col-xs-12">
 	   <div class="field">
 		    <%= f.datetime_select :ordinario_prorroga_revocatoria_directa_fecha_comunicacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
 	    </div>
 	</div>
	
 	</div>
	
	
     <div class="row">
 		<div class="col-md-6 col-xs-12">
 	     <div class="field">
	
 	       <label>Revocatoria directa. Fecha de la notificación:</label>
	
 	     </div>
 	</div>

 	<div class="col-md-6 col-xs-12">
 	   <div class="field">
 		    <%= f.datetime_select :ordinario_prorroga_revocatoria_directa_fecha_notificacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
 	    </div>
 	</div>
	
 	</div>
	
 	</div>
	
	
	<!--Fin Revocatoria directa logica-->
	
	
    <div class="row">
		<div class="col-md-12 col-xs-12">
	     <div class="field">
	
			 
	       
		    <%= f.check_box :ordinario_prorroga_terminacion_recurso_de_apelacion, :class => "inline_class" %>
			<label class ="inline_class">Archivo del expediente. Recurso de apelación</label>
			
	    </div>
	</div>
	
	</div>
	
	
	<%if @complaint.ordinario_prorroga_terminacion_recurso_de_apelacion%>
	   <div id="prorroga_archivo_ap" style="display: true;">
	<%else%>
	  <div id="prorroga_archivo_ap" style="display: none;">
	<%end%>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Recurso de apelación. Fecha de la actuación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_terminacion_fecha_actuacion_ap, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Recurso de apelación. Fecha de la comunicación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_terminacion_fecha_comunicacion_ap , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Recurso de apelación. Fecha de la notificación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_terminacion_fecha_notificacion_ap , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
	    </div>
	</div>
	
	</div>
	
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
			 <%= f.check_box :ordinario_prorroga_terminacion_confirma, :class => "inline_class" %>
	       <label class ="inline_class">Confirma archivo</label>
		   
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.check_box :ordinario_prorroga_terminacion_revoca, :class => "inline_class" %>
			<label class= "inline_class">Revoca archivo</label>
	    </div>
	</div>
	
	</div>
	
  </div>
  
  
	<%if @complaint.ordinario_prorroga_terminacion_confirma%>
	<div id="prorroga_confirma_archivo" style="display: true;">
	<%else%>
	 <div id="prorroga_confirma_archivo" style="display: none;">
	<%end%>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Confirma archivo. Fecha de la actuación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_terminacion_archivo_confirma_actuacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Confirma archivo.  Fecha de la comunicación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_terminacion_archivo_confirma_comunicacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Confirma archivo.  Fecha de la notificación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_terminacion_archivo_confirma_notificacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	</div>
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
		   <%= f.check_box :ordinario_prorroga_nulidad, :class => "inline_class" %>
	       <label class="inline_class" >Nulidad</label>
		   
 	      
	    </div>
	</div>
	
	</div>
	
	<%if @complaint.ordinario_prorroga_nulidad%>
	   <div id="prorroga_nulidad" style="display: true;">
	<%else%>
	  <div id="prorroga_nulidad" style="display: none;">
	<%end%>
	
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la actuación de nulidad:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_nulidad_fecha_actuacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la comunicación de nulidad:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_nulidad_fecha_comunicacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Fecha de la notificación de nulidad:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_nulidad_fecha_notificacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
	    </div>
	</div>
	
	</div>
	
	
	<!--Recurso de reposicion nulidad-->

    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
		   <%= f.check_box :ordinario_prorroga_nulidad_recurso, :class => "inline_class" %>
	       <label class="inline_class" >Recurso de reposición</label>
		   
 	      
	    </div>
	</div>
	
	</div>
	
	<%if @complaint.ordinario_prorroga_nulidad_recurso%>
	  <div id="prorroga_nulidad_recurso" style="display: true;">
	<%else%>
	  <div id="prorroga_nulidad_recurso" style="display: none;">
	<%end%>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Recurso de reposición. Fecha de la actuación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_nulidad_recurso_actuacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Recurso de reposición. Fecha de la comunicación:</label>
	
	     </div>
	</div>
	

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_nulidad_recurso_comunicacion , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
	    </div>
	</div>
	
	</div>
	
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	       <label>Recurso de reposición. Fecha de la notificación:</label>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		    <%= f.datetime_select :ordinario_prorroga_nulidad_recurso_notificacion, :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'} %>
	    </div>
	</div>
	
	</div>
	
	</div>
	
	<!--Fin Recurso de reposicion nulidad-->
	
	<!--Acciones nulidad-->
	
    <div class="row">
	  <div class="col-md-6 col-xs-12">
	     <div class="field">
	
			<%=radio_button("complaint", "ordinario_prorroga_nulidad_decretada", "Decretada")%>
	       <label class ="inline_class">Decretada</label>
		   
	     </div>
	   </div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
		   <%=radio_button("complaint", "ordinario_prorroga_nulidad_decretada", "No decretada")%>
		   <label class ="inline_class">No Decretada</label>
	    </div>
	</div>
	
	</div>
	
	<%if @complaint.ordinario_prorroga_nulidad_decretada == "Decretada"%>
	  <div id="nulidades_opciones_prorroga" style="display: true;">
	<%else%>
	  <div id="nulidades_opciones_prorroga" style="display: none;">
	<%end%>
	
    <div class="row">
        <div class="col-md-12">
		
		<% @etapas.each do |nulidad| %>
		  <div class ="col-md-6">
			
		   <%=radio_button("complaint", "nulidad_etapa_id", "#{nulidad.id}")%>
		   <label class ="inline_class"><%=nulidad.name%></label>
			
	      </div>
		<%end%>
	    </div>
	</div>
	
	</div>
	
	<br />
	<!--Fin Acciones nulidad-->
	
	</div>
	
    <div class="row">
		<div class="col-md-12 col-xs-12">
	
    <div class="actions">
      <input class="form-control button-next  btn btn-info envio_de_formulario" name="commit" type="submit" step="step4" value="Guardar">
    </div>
	
	</div>
	
	</div>
	
	<br /><br />