<h2>Asignar queja a usuarios</h2>
<br />
<p>Usuarios asignados a esta queja:</p>

<div id ="assignlist">

<% for ua in @users_assigned %>
  	<i><%= ua.user.complete_name %></i>
<%end%>


</div>

<br />

<p>
  Consecutivo ID:
  <%= @complaint.consecutivo %>
</p>


<%= select_tag "user_id", options_from_collection_for_select(@users, 'id', 'complete_name'), :prompt => "Seleccione el profesional" %>

<%= hidden_field_tag 'complaint_id', @complaint.id%>

<br /><br />

<button type="button" id="add_assign" class="form-control button-next btn btn-info">Asignar</button> 


<% content_for :footer do %>
	
<script>
$(document).ready(function (){
	
	
	$("#add_assign").click(function (){
		$.ajax({
			type: "POST",
			url: "/complaints/save_assign",
			dataType: "json",
			data: { complaint_id: $("#complaint_id").val(), user_id: $("#user_id").val()},
			success: function (data){
				
				console.log(data);
				
				$.gritter.add({
					text: data.message,
					image: "/boyaca.png",
					sticky: false,
					time: 4000,
					class_name: 'my-sticky-class'
				});
				
				$("#assignlist").html("<i>"+data.email+"</i>");
			
			}
		});
	});
});
</script>

<%end%>

