<br>

<div>
	<label>fecha_hechos</label>
	<p><%= @complaint.fecha_hechos.to_s(:db) %></p>
</div>

<div>
	<label>estado_proceso</label>
	<p><%= @complaint.estado_proceso %></p>
</div>

<div>
	<label>fecha_vencimiento_terminos</label>
	<p><%= @complaint.fecha_vencimiento_terminos.to_s(:db) %></p>
</div>

<div>
	<label>comentarios_profesional</label>
	<p><%= @complaint.comentarios_profesional %></p>
</div>

<div>
	<label>comentarios_jefe_oficina</label>
	<p><%= @complaint.comentarios_jefe_oficina %></p>
</div>

<div>
	<label>texto_indagacion_preliminar</label>
	<p><%= @complaint.texto_indagacion_preliminar %></p>
</div>

<div>
	<label>complaint_type_id</label>
	<p><%= @complaint.complaint_type_id %></p>
</div>

<div>
	<label>auto_acomulatorio_id</label>
	<p><%= @complaint.auto_acomulatorio_id %></p>
</div>

<div>
	<label>argumentos_auto_inhibitorio</label>
	<p><%= @complaint.argumentos_auto_inhibitorio %></p>
</div>

<div>
	<label>argumentos_revision_competencia</label>
	<p><%= @complaint.argumentos_revision_competencia %></p>
</div>

<div>
	<label>comentarios_indagacion_preliminar</label>
	<p><%= @complaint.comentarios_indagacion_preliminar %></p>
</div>

<div>
	<label>viable</label>
	<p><%= @complaint.viable %></p>
</div>

<div>
	<label>comentarios_jefe_oficina_investigacion_disciplinaria</label>
	<p><%= @complaint.comentarios_jefe_oficina_investigacion_disciplinaria %></p>
</div>

<div>
	<label>es_culpable</label>
	<p><%= @complaint.es_culpable %></p>
</div>

<div>
	<label>nombre_implicado</label>
	<p><%= @complaint.nombre_implicado %></p>
</div>

<div>
	<label>identificacion_implicado</label>
	<p><%= @complaint.identificacion_implicado %></p>
</div>

<div>
	<label>cargo_implicado</label>
	<p><%= @complaint.cargo_implicado %></p>
</div>

<% if @complaint.fecha_decision_tomada %>
	<div>
		<label>fecha_decision_tomada</label>
		<p><%= @complaint.fecha_decision_tomada.to_s(:db) %></p>
	</div>
<%end %>
<div>
	<label>se_presento_a_notificacion_personal</label>
	<p><%= @complaint.se_presento_a_notificacion_personal %></p>
</div>

<div>
	<label>nombre_abogado_asignado</label>
	<p><%= @complaint.nombre_abogado_asignado %></p>
</div>

<div>
	<label>identificacion_abogado_asignado</label>
	<p><%= @complaint.identificacion_abogado_asignado %></p>
</div>

<div>
	<label>n_tarjeta_profesional_abogado_asignado</label>
	<p><%= @complaint.n_tarjeta_profesional_abogado_asignado %></p>
</div>

<div>
	<label>solicitud_nulidad</label>
	<p><%= @complaint.solicitud_nulidad %></p>
</div>

<% if @complaint.fecha_dictado_sentencia %>
	<div>
		<label>fecha_dictado_sentencia</label>
		<p><%= @complaint.fecha_dictado_sentencia.to_s(:db) %></p>
	</div>
<%end %>

<% if @complaint.fecha_ejecucion %>
	<div>
		<label>fecha_ejecucion</label>
		<p><%= @complaint.fecha_ejecucion.to_s(:db) %></p>
	</div>
<%end %>

<% if @complaint.fecha_limite_ejecucion %>
	<div>
		<label>fecha_limite_ejecucion</label>
		<p><%= @complaint.fecha_limite_ejecucion.to_s(:db) %></p>
	</div>
<%end %>

<div>
	<label>apelacion</label>
	<p><%= @complaint.apelacion %></p>
</div>

<div>
	<label>resultado_apelacion</label>
	<p><%= @complaint.resultado_apelacion %></p>
</div>

<div>
	<label>created_at</label>
	<p><%= @complaint.created_at.to_s(:db) %></p>
</div>

<div>
	<label>updated_at</label>
	<p><%= @complaint.updated_at.to_s(:db) %></p>
</div>

<div>
	<label>hechos</label>
	<p><%= @complaint.hechos %></p>
</div>

<br>	
<%= link_to 'Archivar', archivar_complaints_path(@complaint.id) %>
