<div class="row">
	<div class="col-lg-12">

				    <h1>Actualizar Expediente <%=@complaint.etapa_id%></h1>
					
					
					    <h3><%=@complaint.tipo_de_proceso%></h3>
						<br>
						<%if @complaints_anuladas[0]%>		
						<h4>Nulidades</h4>
						<ul class="anuladas">
						<% @complaints_anuladas.each do |complaint| %>
						   <li>
							<%= link_to "Nulidad en #{complaint.nulidad_accion} devuelve a #{complaint.nulidad_etapa}", edit_complaint_path(complaint) %> 
						</li>
							
						<%end%>
						 </ul>
						<%end%>
						
						<%if @complaint.anulada%>
							<h4>Esta es una copia de un expediente anulado</h4>
							<ul class="anuladas">
							<li><%= link_to "Volver a expediente", edit_complaint_path(@complaint.parent_id) %></li>
						    </ul>
						<%end%>
					 
					<br />
				
						<%if @complaint.tipo_de_proceso == "PROCESO ORDINARIO"%>
						
						<section class="panel">
						<%= render 'formulario_proceso_ordinario'%>
						
						</section>
						
						<%else%>
						
					   <section class="panel">
						<%= render 'formulario_proceso_verbal'%>
						
						</section>
						
						<%end%>
					
			
				<br />
				<hr />
				<br />		
	</div>
</div>

<% content_for :javascript do %>
	<script type="text/javascript">
	  	$(function(){
	  		$('#default').stepy({
	  			finishButton: false,
	  			backLabel: 'Anterior',
              	block: true,
        	  	nextLabel: 'Siguiente',
          	    titleClick: true,
         	   	titleTarget: '.stepy-tab',
         	   	next: function (){
			        var complaint_type_id = parseInt($('#complaint_complaint_type_id').val());
			        $(".quejasTipo").css({ display: "none" });
			        $("#"+complaint_type_id+"").css({ display: ""});
			        $("html, body").animate({ scrollTop: 0 }, "slow");
         	   	},
         	   	back: function (){
         	   		$("html, body").animate({ scrollTop: 0 }, "slow");
         	   	}
	  		});
			
			
			<%if @complaint.anulada%>
				$("#default :input").prop("disabled", true);
			<%end%>
				
			
							
			<%if !@complaint.etapa_id%>
				$("#default-title-0").trigger("click");
			<%elsif @complaint.etapa_id == 1%>
			   $("#default-title-1").trigger("click");
			<%elsif @complaint.etapa_id == 2%>
			   $("#default-title-2").trigger("click");
			<%elsif @complaint.etapa_id == 3%>
				$("#default-title-3").trigger("click");
			<%elsif @complaint.etapa_id == 4%>
				$("#default-title-4").trigger("click");
			<%elsif @complaint.etapa_id == 5%>
				$("#default-title-5").trigger("click");
			<%elsif @complaint.etapa_id == 6%>
				$("#default-title-6").trigger("click");
			<%elsif @complaint.etapa_id == 7%>
				$("#default-title-7").trigger("click");
			<%elsif @complaint.etapa_id == 8%>
				$("#default-title-8").trigger("click");
			<%elsif @complaint.etapa_id == 9%>
				$("#default-title-9").trigger("click");
			<%elsif @complaint.etapa_id == 10%>
				$("#default-title-10").trigger("click");
			<%end%>
				
			
			
	  		
	  	});
	</script>
<%end%>
