<br /><br />
    <div class="row">
		<div class="col-md-12 col-xs-12">
	     <div class="field">
	
	       <label>Estadísticas</label>
		   
		   <p>Número de expedientes por mes</p>
		   
		   	<div id="myfirstchart" style="height: 100%;"></div>
			
		   <br /><br />
		   
 		   <p>Número de actuaciones por mes</p>
		   
 		   	<div id="actuacioneschart" style="height: 100%;"></div>
		   
	     </div>
	</div>

	
	</div>
	
<script>
	
	var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

	Morris.Line({
	  element: 'myfirstchart',
	  data: [{
	    m: '2016-01', // <-- valid timestamp strings
	    a: 30
	  }, {
	    m: '2016-02',
	    a: 12
	  }, {
	    m: '2016-03',
	    a: 34
	  }, {
	    m: '2016-04',
	    a: 26
	  }, {
	    m: '2016-05',
	    a: 16
	  }, {
	    m: '2016-06',
	    a: 17
	  }, {
	    m: '2016-07',
	    a: 20
	  }, {
	    m: '2016-08',
	    a: 24
	  }, {
	    m: '2016-09',
	    a: 21
	  }, {
	    m: '2016-10',
	    a: 31
	  }, {
	    m: '2016-11',
	    a: 21
	  }, {
	    m: '2016-12',
	    a: 19
	  }, ],
	  xkey: 'm',
	  ykeys: ['a', 'b'],
	  labels: ['2014', '2015'],
	  xLabelFormat: function(x) { // <--- x.getMonth() returns valid index
	    var month = months[x.getMonth()];
	    return month;
	  },
	  dateFormat: function(x) {
	    var month = months[new Date(x).getMonth()];
	    return month;
	  },
	});
	
	
	
	var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

	Morris.Line({
	  element: 'actuacioneschart',
	  data: [{
	    m: '2016-01', // <-- valid timestamp strings
	    a: 30
	  }, {
	    m: '2016-02',
	    a: 12
	  }, {
	    m: '2016-03',
	    a: 34
	  }, {
	    m: '2016-04',
	    a: 26
	  }, {
	    m: '2016-05',
	    a: 16
	  }, {
	    m: '2016-06',
	    a: 17
	  }, {
	    m: '2016-07',
	    a: 20
	  }, {
	    m: '2016-08',
	    a: 24
	  }, {
	    m: '2016-09',
	    a: 21
	  }, {
	    m: '2016-10',
	    a: 31
	  }, {
	    m: '2016-11',
	    a: 21
	  }, {
	    m: '2016-12',
	    a: 19
	  }, ],
	  xkey: 'm',
	  ykeys: ['a', 'b'],
	  labels: ['2014', '2015'],
	  xLabelFormat: function(x) { // <--- x.getMonth() returns valid index
	    var month = months[x.getMonth()];
	    return month;
	  },
	  dateFormat: function(x) {
	    var month = months[new Date(x).getMonth()];
	    return month;
	  },
	});
	
	
</script>