<h1>Exepdientes Asignados</h1>
<br>	
<table class="table table-hover personal-task">
    <thead>
        <tr>
            <th class="">Codigo</th>
            <th class="hidden-phone">Fecha recibido</th>
            <th class="hidden-phone">Tipo de proceso</th>
            <th class="">Estado</th>
            <th class="">Profesional asignado</th>
            <th class="">Ultima modificación</th>
            <th class=""></th>
            <th class=""></th>
            <th class=""></th>
        </tr>
    </thead>
    <tbody>
        <% @mycomplaints.each do |complaint| %>
          <tr>
            <td><%= complaint.id %></td>
            <td><%= complaint.created_at.to_s(:db) %></td>
            <td><%= complaint.complaint_type_id %></td>
            <td><%= complaint.estado_proceso %></td>
            <% if not complaint.users == [] %>
                <% complaint.users.each do |user| %>
                    <td><%= user.first_name %> <%= user.last_name %></td>
                <% end %>
            <% else %>
                <td></td>
            <% end %>
            <td><%= complaint.updated_at.to_s(:db) %></td>
            <td><%= link_to 'Actualizar', edit_complaint_path(complaint) %></td>
            <td><%= link_to 'Auto de terminación y archivo', autoterminacionyarchivo_complaints_path(complaint.id) %></td>
          </tr>
        <% end %>
    </tbody>
</table>