<h1>Ingresar Expediente</h1>

<%= form_for(@complaint, :html => {:class => 'form-horizontal', :'id' => 'default'}) do |f| %>

    <% if @complaint.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>
        <ul>
          <% @complaint.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
	
	<br />
	
	<%= render 'informacion_general', :f => f %>
	
 
<%end%>

