<%= form_for(@complaint, :html => {:class => 'form-horizontal', :'id' => 'default'}) do |f| %>
  <% if @complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>
      <ul>
        <% @complaint.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <fieldset title="Accion 1">
    <legend><b>Datos generales</b></legend>
	
    <div class="row">
		<div class="col-md-6 col-xs-12">
	     <div class="field">
	
	<%= f.radio_button :tipo_de_proceso, 'Proceso Ordinario', :class => "inline_class" %> 
	<%= label :tipo_de_proceso, 'Proceso Ordinario', :class => "inline_class"  %>
	
	     </div>
	</div>

	<div class="col-md-6 col-xs-12">
	   <div class="field">
	<%= f.radio_button :tipo_de_proceso, 'Proceso Verbal', :class => "inline_class" %>
	<%= label :tipo_de_proceso, 'Proceso Verbal', :class => "inline_class" %>
	    </div>
	</div>
	
	</div>
	
	 <%=f.hidden_field :creador_id, :value => current_user.id%>     

     <div class="row">
 		<div class="col-md-6 col-xs-12">
 	     <div class="field">
           <%= f.datetime_select :fecha_hechos , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
           
         </div>
	   </div>
	</div>
	
     <div class="row">
		 
 		<div class="col-md-6 col-xs-12">
 	     <div class="field">
			<label> Nombre del implicado </label>
           <%= f.text_field :nombre_del_implicado, :class=>"form-control" %>
           
         </div>
	   </div>
	   
 		<div class="col-md-6 col-xs-12">
 	     <div class="field">
			 <label> Cargo del implicado </label>
           <%= f.text_field :cargo_del_implicado, :class=>"form-control" %>
           
         </div>
	   </div>
	   
	</div>

    <div class="row">
		<div class="col-md-12 col-xs-12">
	
          <div class="field">
            <label>Lugar de los hechos</label>
      	  	<%= f.text_field :lugar_de_los_hechos, :class=>"form-control" %>
         </div>
	</div>
	</div>
	
    <div class="row">
		<div class="col-md-4 col-xs-12">
	     <div class="field">
	
	<%= f.radio_button :origen_de_queja, 'De oficio', :class => "inline_class" %> 
	<label class="inline_class"> De oficio </label>
	
	     </div>
	</div>

	<div class="col-md-4 col-xs-12">
	   <div class="field">
	<%= f.radio_button :origen_de_queja, 'Por particular', :class => "inline_class" %> 
	<label class="inline_class"> Por particular </label>
	    </div>
	</div>
	
	<div class="col-md-4 col-xs-12">
	   <div class="field">
	<%= f.radio_button :origen_de_queja, 'Quejoso', :class => "inline_class" %> 
	<label class="inline_class"> Quejoso </label>
	    </div>
	</div>
	
	</div>
	
    <div class="row">
		<div class="col-md-4 col-xs-12">
	     <div class="field">
	
	<%= f.radio_button :origen_de_queja, 'Informe servidor público', :class => "inline_class" %> 
	<label class="inline_class">Informe servidor público </label>
	
	     </div>
	</div>

	<div class="col-md-4 col-xs-12">
	   <div class="field">
	<%= f.radio_button :origen_de_queja, 'Por anónimo', :class => "inline_class" %> 
	<label class="inline_class"> Por anónimo</label>
	    </div>
	</div>
	
	
	</div>
	
	
	
	
    
    <div class="row">
		<div class="col-md-12 col-xs-12">
	
    <div class="field">
      <%= f.label :hechos %><br />
      <% if current_user.role_id == 3 %>
        <%= f.text_area :hechos, :class => "form-control", :disabled=>"disabled" %>
      <% else %>
        <%= f.text_area :hechos, :class => "form-control" %>
      <% end %>
    </div>
	</div>
	</div>
	
    <div class="row">
		<div class="col-md-12 col-xs-12">
	
         <div class="field">
          
		  <label>Conducta a investigar disciplinariamente</label>
          <%= f.text_area :conducta_a_investigar, :class => "form-control" %>
    </div>
	</div>
	</div>
	
   
	
	<br />
	
    <div class="row">
		<div class="col-md-12 col-xs-12">

      <div class="field">
        <%= f.label :complaint_type_id, "Tipo de queja" %><br />
        <%= f.select(:complaint_type_id, @allComplaintTypes.collect{|privilege| [privilege.name.capitalize, privilege.id]}, {:prompt => "Tipo de proceso a realizar"}, {:class=>"form-control"}) %>
      </div>
	  
  	</div>
  	</div>
	
	
		
	     <div class="row">
	 		<div class="col-md-6 col-xs-12">
	 	     <div class="field">
	           <%= f.datetime_select :fecha_vencimiento_terminos , :order => [:year, :month, :day], prompt: {day: 'Día', month: 'Mes', year: 'Año'}%>
           
	         </div>
		   </div>
		</div>
		
		
		
	    <div class="row">
			<div class="col-md-12 col-xs-12">
	  
      <div class="field">
        <%= f.label :comentarios_jefe_oficina, "Comentarios jefe de oficina" %><br />
        <%= f.text_area :comentarios_jefe_oficina, :class => "form-control", :cols => "40", :rows => "10" %>
      </div>
	  
  	</div>
  	</div>
	
      <div class="row">
		  <div class="col-md-12 col-xs-12">
        <div class="field">
	  
    <div class="actions">
       <%= f.submit "Guardar", :class => "form-control button-next  btn btn-info" %>
    </div>
	
          </div>
        </div>
    </div>
	
	<br />
   <br />
  </fieldset>

  <fieldset title="Accion 2">
    
      <legend><b>Tipo de queja</b></legend>
      <div class="field quejasTipo" id="1" style="display: none;">
       
         
            <div class="field">
              
                <%= f.label :fecha_cita_audiencia %><br />
                <%= f.text_field :fecha_cita_audiencia, :value => (f.object.fecha_cita_audiencia.strftime('%d-%m-%Y %H:%M') if f.object.fecha_cita_audiencia), :class=>"form-control date_field" %>
          
            </div>

         
            <br />
            
         
            <div class="row">
				<div class="col-md-12 col-xs-12">
              <div class="field">
                
                  <%= f.label :apuntes_audiencia %><br />
                  <%= f.text_area :apuntes_audiencia, :class => "form-control", :cols => "40", :rows => "10" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <div class="field">
                  <div class="form-group">
                    <%= f.label :audiencia_prorrogada, "La audiencia fue prorrogada", :for => "audiencia_prorrogada"  %>
                    <%= f.check_box :audiencia_prorrogada %>
                  </div>
                </div>
              </div>
			  
			
			  
                <div class="col-md-6 col-xs-12 rowVis">
                  <div class="field">
                    <div class="form-group">
                      <%= f.label :fecha_cita_audiencia, :for => "fecha_cita_audiencia_prorrogada" %><br />
                      <%= f.text_field :fecha_cita_audiencia, :value => (f.object.fecha_cita_audiencia.strftime('%d-%m-%Y %H:%M') if f.object.fecha_cita_audiencia), :"data-field"=>"datetime", :class=>"form-control date_field", :id=>"fecha_cita_audiencia_prorrogada" %>
                    </div>
                  </div>
                </div>
			  
			
			
			</div>
            <hr>
      
          
          <div class="row">
			  
		      <div class="col-md-3 col-xs-12">
			  <div class="field"><label>Decisión tomada</label>
			  
			  </div>
		      </div>
			  
            <div class="col-md-3 col-xs-12">
              <div class="field">
                <div class="form-group">
                  
             
				  
				  <%= f.check_box :es_culpable %>
				  <%= f.label :es_culpable, "Es culpable", :for => "investigacion_disciplinaria_culpable", :class => "inline_class"  %>
                </div>
              </div>
            </div>
			
            <div class="col-md-3 col-xs-12">
              <div class="field">
                <div class="form-group">
                  
                 
			    </div>
              </div>
            </div>
			
          </div>
		  
		  
          <div class="row">
		    <div class="col-md-12 col-xs-12">
              <div class="field">
              
                <%= f.label :comentarios_decision_culpabilidad, "Comentarios decisión tomada" %><br />
                <%= f.text_area :comentarios_decision_culpabilidad, :class => "form-control", :cols => "40", :rows => "10" %>
              
              </div>
			</div>
          </div>
		  
		  
          <div class="row">
		    <div class="col-md-6 col-xs-12">
              <div class="field">
              
                <%= f.label :decision_final_ejecutoriada, :for=>"decision_final_ejecutoriada" %>
                <%= f.check_box :decision_final_ejecutoriada%>
              </div>
            </div>
			
			<div class="col-md-6 col-xs-12">
              <div class="field">
             
                <%= f.label :se_interponen_recursos, :for=>"se_interponen_recursos" %>
                <%= f.check_box :se_interponen_recursos %>
              </div>
            </div>
			
			</div>
			
            <div class="row">
  		    <div class="col-md-12 col-xs-12">
			
            <div class="field aja noVisible">
             
                <%= f.label :comentarios_interponen_recursos, "Comentarios" %><br />
                <%= f.text_area :comentarios_interponen_recursos, :class => "form-control", :cols => "40", :rows => "10" %>
              </div>
            </div>
          </div>
		  
		  
          
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
                  <%= f.label :auto_terminacion_archivo, "Auto de terminación y archivo", :for => "auto_terminacion_archivo"  %>
                  <%= f.check_box :auto_terminacion_archivo %>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
                  <%= f.label :remitir_procedimiento_ordinario, "Remitir a procedimiento ordinario", :for => "remitir_procedimiento_ordinario" %>
                  <%= f.check_box :remitir_procedimiento_ordinario %>
                </div>
              </div>
            </div>
          </div>
        
      </div>

      <div class="field quejasTipo" id="2" style="display: none;">
        <%= f.label :argumentos_auto_inhibitorio, "Argumentos Auto inhibitorio" %><br />
        <%= f.text_area :argumentos_auto_inhibitorio, :class => "form-control", :cols => "40", :rows => "10" %>
      </div>

      <div class="field quejasTipo" id="3" style="display: none;">
        <%= f.label :argumentos_revision_competencia, "Argumentos Revisión por competencia" %><br />
        <%= f.text_area :argumentos_revision_competencia, :class => "form-control", :cols => "40", :rows => "10" %>
      </div>

      <div class="field quejasTipo" id="4" style="display: none;">
        
          <div class="row">
			  <div class="col-md-12 col-xs-12">
            <div class="field">
              
                <%= f.label :comentarios_indagacion_preliminar, "Argumentos Indagación prelimimar" %><br />
                <%= f.text_area :comentarios_indagacion_preliminar, :class => "form-control", :cols => "40", :rows => "10" %>
              </div>
            </div>
          </div>
		  
		  
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
                  <%= f.label :iniciar_investigacion_disciplinaria, "Iniciar investigación disciplinaria", :for => "indagacion_preliminar_investigacion_disciplinaria"  %>
                  <%= f.check_box :iniciar_investigacion_disciplinaria%>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
                  <%= f.label :auto_terminacion_archivo, "Auto de terminación y archivo", :for => "auto_terminacion_archivo" %>
                  <%= f.check_box :auto_terminacion_archivo %>
                </div>
              </div>
            </div>
          </div>
    
      </div>

      <div class="field quejasTipo" id="6" style="display: none;">
        <br />
       
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
					<%= f.check_box :cierre_investigacion_disciplinaria, :class => "inline_class"%>
                  <%= f.label :cierre_investigacion_disciplinaria, "Declarar cierre de investigación", :for => "investigacion_disciplinaria_cierre_investigacion", :class => "inline_class"  %>
                  
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
				<%= f.check_box :auto_terminacion_archivo , :class => "inline_class" %>
                  <%= f.label :auto_terminacion_archivo, "Auto de terminación y archivo", :for => "auto_terminacion_archivo" , :class => "inline_class"%>
                 
                </div>
              </div>
            </div>
          </div>
      

        <br />

        
          
          <br />
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
                 
				 	<label class ="inline_class">Aprobación y viabilidad</label>

                 
                </div>
              </div>
            </div>
			
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
                 

				 	 <%= f.check_box :viable, :class => "inline_class"%>
                    <%= f.label :viable, "Es viable", :for => "investigacion_disciplinaria_viable", :class => "inline_class" %>
                   
                 
                </div>
              </div>
            </div>
            
          </div>
         
          
       
       
          
          <br />
		  
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
                  <label>Decisión tomada</label>
                 
                </div>
              </div>
            </div>
		  
 
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
					<%= f.check_box :es_culpable, :class => "inline_class" %>
                  <%= f.label :es_culpable, "Es culpable", :for => "investigacion_disciplinaria_culpable", :class => "inline_class"  %>
                  
                </div>
              </div>    
          </div>
		  
		  </div>
          <br>
		  
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="field">
                
                  <%= f.label :nombre_implicado %><br />
                  <%= f.text_field :nombre_implicado, :class => "form-control" %>
             
              </div>
            </div>
			
            <div class="col-md-6 col-xs-12">
              <div class="field">
                
				
                  <%= f.label :identificacion_implicado %><br />
                  <%= f.text_field :identificacion_implicado, :class => "form-control" %>
         
              </div>
            </div>
			
          </div>

          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
                  <%= f.label :cargo_implicado %><br />
                  <%= f.text_field :cargo_implicado, :class => "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
                  <%= f.label :fecha_decision_tomada %><br />
                  <%= f.text_field :fecha_decision_tomada, :value => (f.object.fecha_decision_tomada.strftime('%d-%m-%Y %H:%M') if f.object.fecha_decision_tomada), :"data-field" => "datetime", :class => "form-control date_field" %>
                </div>
              </div>
            </div>
          </div><!-- row -->
          <br>
          
		  <hr>
          <label>Dictar pliego de cargos</label>
		  
          <br>
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
					<%= f.check_box :se_presento_a_notificacion_personal, :class => "inline_class" %>
                  <%= f.label :se_presento_a_notificacion_personal, "Se presentó a la notificación personal", :for => "complaint_se_presento_a_notificacion_personal_1", :class => "inline_class" %>
                  
                </div>
              </div>
            </div>
            
          </div>
          <br>
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
                  <%= f.label :nombre_abogado_asignado %><br />
                  <%= f.text_field :nombre_abogado_asignado, :class => "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
                  <%= f.label :identificacion_abogado_asignado %><br />
                  <%= f.text_field :identificacion_abogado_asignado, :class => "form-control" %>
                </div>
              </div>
            </div>
          </div><!-- row -->
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
                  <%= f.label :n_tarjeta_profesional_abogado_asignado, "Nº de tarjeta profesional del abogado asignado" %><br />
                  <%= f.text_field :n_tarjeta_profesional_abogado_asignado, :class => "form-control" %>
                </div>
              </div>
            </div>
          </div><!-- row -->
          <br>
    
          
          <br>
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
                  <label>Solicitud de nulidad</label>
                </div>
              </div>
            </div>
			
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
					<%= f.check_box :solicitud_nulidad , :class => "inline_class"%>
                  <%= f.label :solicitud_nulidad, "Aplica", :for => "complaint_solicitud_nulidad_1", :class => "inline_class" %>
                  
                </div>
              </div>
            </div>
            
          </div>
          <hr>
          <label>Proferir Fallo</label>
		  <br />
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
                  <%= f.label :fecha_dictado_sentencia %><br />
                  <%= f.text_field :fecha_dictado_sentencia, :value => (f.object.fecha_dictado_sentencia.strftime('%d-%m-%Y %H:%M') if f.object.fecha_dictado_sentencia), :"data-field" => "datetime", :class => "form-control date_field" %>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
                  <%= f.label :fecha_ejecucion %><br />
                  <%= f.text_field :fecha_ejecucion, :value => (f.object.fecha_ejecucion.strftime('%d-%m-%Y %H:%M') if f.object.fecha_ejecucion), :"data-field" => "datetime", :class => "form-control date_field" %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
                  <%= f.label :fecha_limite_ejecucion %><br />
                  <%= f.text_field :fecha_limite_ejecucion, :value => (f.object.fecha_limite_ejecucion.strftime('%d-%m-%Y %H:%M') if f.object.fecha_limite_ejecucion), :"data-field" => "datetime", :class => "form-control date_field" %>
                </div>
              </div>
            </div>
          </div>
          <br>
         
          <div class="row">
			 
             <div class="col-md-6 col-xs-12">
               <div class="field">
                 <div class="form-group">
                    <label>Apelación</label>
                 </div>
               </div>
             </div>
			  
            <div class="col-md-6 col-xs-12">
              <div class="field">
                <div class="form-group">
					<%= f.check_box :apelacion , :class => "inline_class"%>
                  <%= f.label :apelacion, "SI", :for => "complaint_apelacion_1", :class => "inline_class" %>
                  
                </div>
              </div>
            </div>
            
          </div>
		  
		  
          <br />
          <div class="row">
			  <div class="col-md-12 col-xs-12">
            <div class="field">
              
                <% if current_user.jefe_oficina? %>           
                  <%= f.label :comentarios_jefe_oficina_investigacion_disciplinaria, "Comentarios jefe de oficina en Investigación disciplinaria" %><br />
                  <%= f.text_area :comentarios_jefe_oficina_investigacion_disciplinaria, :class => "form-control", :cols => "40", :rows => "10" %>
                <% else %>
                  <%= f.label :comentarios_jefe_oficina_investigacion_disciplinaria, "Comentarios jefe de oficina en Investigación disciplinaria" %><br />
                  <%= f.text_area :comentarios_jefe_oficina_investigacion_disciplinaria, :class => "form-control", :cols => "40", :rows => "10", :disabled=>"disabled" %>
                <% end %>
              </div>
            </div>
			
			
		   
			
          </div>
		  
       
      </div>
	  
      <div class="row">
		  <div class="col-md-12 col-xs-12">
        <div class="field">
	  
    <div class="actions">
       <%= f.submit "Guardar", :class => "form-control button-next  btn btn-info" %>
    </div>
	
          </div>
        </div>
    </div>
	
    <br/ >
    <br/ >
  
  </fieldset>
  
  <fieldset title="Accion 3">
    <legend><b>Evaluación Noticia Disciplinaria</b></legend>
	
  </fieldset>
  
  <fieldset title="Accion 4">
    <legend><b>Indagación Preliminar</b></legend>
	
  </fieldset>
  
  <fieldset title="Accion 5">
    <legend><b>Evaluación Indagación Preliminar</b></legend>
	
  </fieldset>
  
  <fieldset title="Accion 6">
    <legend><b>Apertura de Investigación</b></legend>
	
  </fieldset>
  
  <fieldset title="Accion 7">
    <legend><b>Evaluación Investigación</b></legend>
	
  </fieldset>
  
  <fieldset title="Accion 8">
    <legend><b>Auto de cierre de investigación</b></legend>
	
  </fieldset>
  
  <fieldset title="Accion 9">
    <legend><b>Notificaciones</b></legend>
	
  </fieldset>
  
  <fieldset title="Accion 10">
    <legend><b>Pliego de Cargos</b></legend>
	
  </fieldset>
  
  <fieldset title="Accion 11">
    <legend><b>Traslado para Descargos</b></legend>
	
  </fieldset>
  
  <fieldset title="Accion 12">
    <legend><b>Traslado para Alegatos</b></legend>
	
  </fieldset>
  
  <fieldset title="Accion 13">
    <legend><b>Fallo de Instancia</b></legend>
	
  </fieldset>

<% end %>

  <% content_for :javascript do %>
    <script type="text/javascript">
  
  	$('.date_field').datetimepicker({
	  timepicker:true,
	  formatTime:'H:i',
	  formatDate:'y/m/d',
	});
  
    /*$( ".date_field" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
  	*/	
  
      $(document).ready(function (){
		  
		 
        $("#complaint_complaint_type_id").change(function (){
          var complaint_type_id = parseInt($('#complaint_complaint_type_id').val());
          
          if(complaint_type_id == 2){ var texto = "Recuerde que dicho auto se efectúa cuando la información es temeraria, contiene irrelevantes o de ocurrencia y que sean inconcretos o difusos."};
          $.gritter.add({
            title: "¿Estas seguro?",
            text: texto,
            sticky: true,
            time: "",
            class_name: 'my-sticky-class'
          });
        });
      });
    </script>
  <% end %>

