<br />
<p id="notice"><%= notice %></p>

<p>
  <b>Fecha hechos:</b>
  <%= @complaint.fecha_hechos %>
</p>

<p>
  <b>Estado proceso:</b>
  <%= @complaint.estado_proceso %>
</p>

<p>
  <b>Fecha vencimiento terminos:</b>
  <%= @complaint.fecha_vencimiento_terminos %>
</p>

<p>
  <b>Comentarios jefe oficina:</b>
  <%= @complaint.comentarios_jefe_oficina %>
</p>

<p>
  <b>Texto indagacion preliminar:</b>
  <%= @complaint.texto_indagacion_preliminar %>
</p>

<p>
  <b>Comaplaint type:</b>
  <%= @complaint.complaint_type_id %>
</p>

<p>
  <b>Auto acomulatorio:</b>
  <%= @complaint.auto_acomulatorio_id %>
</p>

<p>
  <b>Comentario auto inhibitorio:</b>
  <%= @complaint.argumentos_auto_inhibitorio %>
</p>

<%for ofile in @complaint.ofiles%>


<%end%>

<%= link_to 'Actualizar', edit_complaint_path(@complaint) %> |
<%= link_to 'Atras', complaints_path %>
