<h1>Editar usuario</h1>

<%= form_for(@user, url: url_for(:controller => 'admin', :action => 'update_user')) do |f| %>
  
  <div ><label>Roles </label><br />
  <%= f.select(:role_id, @roles.collect{|privilege| [privilege.name.capitalize, privilege.id]}, {:prompt => "Tipo de usuario"}, {:class=>"form-control"}) %></div>
  <br />
  
  <div><label>Nombre </label><br />
  <%= f.text_field :first_name, :class=>"form-control", autofocus: true %></div>

  <br />

  <div><label>Apellidos</label><br />
  <%= f.text_field :last_name , :class=>"form-control" %></div>

	<br />

 

  <div><label>Email</label><br />
  <%= f.email_field :email , :class=>"form-control" %></div>
  
  <br />

 <div><label>Contraseña</label><br />
    <%= f.password_field :password, autocomplete: "off" , :class=>"form-control" %></div>
	
	<br />

  <div><label>Confirmar Contraseña</label><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" , :class=>"form-control" %></div>
	
	<br />

  <div><%= f.submit "Guardar" ,:class=>"buttonregister" %></div>
<% end %>
