<h1>Nuevo Usuario</h1>

<%= form_for(@user, url: url_for(:controller => 'admin', :action => 'create_user')) do |f| %>
  
  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name, :class=>"form-control", autofocus: true %></div>


  <div ><%= f.label :last_name %><br />
  <%= f.text_field :last_name , :class=>"form-control" %></div>

  <div ><%= f.label :role_id %><br />
  <%= f.select(:role_id, @roles.collect{|privilege| [privilege.name.capitalize, privilege.id]}, {:prompt => "Tipo de usuario"}, {:class=>"form-control"}) %></div>

  <div ><%= f.label :email %><br />
  <%= f.email_field :email, :class=>"form-control" %></div>

  <div ><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" , :class=>"form-control"  %></div>

  <div ><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" , :class=>"form-control"  %></div>

  <div><%= f.submit "Crear usuario", :class=>"buttonregister" %></div>
<% end %>
