<p id="notice"><%= notice %></p>
<p>
  <b>Nombre:</b>
  <%= @user.first_name %> <%= @user.last_name %>
</p>

<p>
  <b>Tipo de usuario:</b>
  <%= @user.role.name %>
</p>

<p>
  <b>Correo:</b>
  <%= @user.email %>
</p>

<p>
  Historial de proccesos 
</p>
<%= link_to 'Atras', admin_users_path %>
