<h1>Usuarios en el sistema</h1>

<table class="table">
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Tipo de usuario</th>
	<th>Primera clave</th>
    <th>Opciones</th>
  
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %> <%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.role.name if user.role %></td>
    <td><%= user.first_password %></td>
    <td>
		
	    <%= link_to admin_edit_user_path(user) do %>
	      <i class="fa fa-pencil"></i>
	    <%end%>
	
		<%= link_to admin_destroy_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } do %>
		  <i class="fa fa-remove"></i>
		<%end%>
		
    </td>
	
  </tr>
<% end %>
</table>

<br />

<%= link_to admin_new_user_path do %>
  <%= image_tag "user-plus.png" %>
  <span>Nuevo usuario</span>
<% end %>
