<div class="heading-login">
	<%= image_tag "banner.png"%>

</div>

<div class="register-form">
	<h4>¿Olvidaste tu contraseña?</h4>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :class=>"form-control", autofocus: true %></div>

  <div><%= f.submit "Recuperar contraseña",:class=>"buttonregister" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>