<div class="heading-login">
	<%= image_tag "banner.png", :class=>"logobrief" %>
	
</div>
<div class="login-body">
	<div class="container">
		
		<div class ="titulo_inicio">
			<br/><br/>
			<p>Plataforma de Manejo Interno De Quejas y Reclamos</p>
			<p>-Oficina De Control Interno-</p>
		</div>
		
		<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"} ) do |f| %>
		<!--	<h2 class="form-signin-heading">sign in now</h2>  -->
		<div class="login-wrap">
			<%= f.email_field :email, autofocus: true, class: "form-control" %>
			<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
			<% if devise_mapping.rememberable? -%>
			<label class="checkbox">
				<%= f.check_box :remember_me %> <%= f.label :remember_me %>
				<span class="pull-right"> <%= link_to "Forgot your password?", new_password_path(resource_name) %> </span>
			</label>
			<% end -%>
			<%= f.submit "Entrar", class:"btn btn-lg btn-login btn-block" %>
			
		</div>
		<% end %>
	</div>
</div>
<% content_for :footer do %>
<script>
$(document).ready(function () {
	$('.facebook').click(function(event){
		FB.login(function(response){
			if (response.status === 'connected') {
			    FB.api('/me', function(response) {
			         console.log(response);
			       });
			  } else if (response.status === 'not_authorized') {
			    // The person is logged into Facebook, but not your app.
			  } else {
			    // The person is not logged into Facebook, so we're not sure if
			    // they are logged into this app or not.
			  }
		}, {scope: 'public_profile,email'});
		event.preventDefault()
		return false;
	})
});
</script>
<%end%>
