<h1>Listing ofiles</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ofiles.each do |ofile| %>
  <tr>
    <td><%= ofile.name %></td>
    <td><%= link_to 'Show', ofile %></td>
    <td><%= link_to 'Edit', edit_ofile_path(ofile) %></td>
    <td><%= link_to 'Destroy', ofile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ofile', new_ofile_path %>
