<%= form_for(@gob_var) do |f| %>
  <% if @gob_var.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gob_var.errors.count, "error") %> prohibited this gob_var from being saved:</h2>

      <ul>
      <% @gob_var.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meta_key %><br />
    <%= f.text_field :meta_key %>
  </div>
  
  
  
  
  
  <%if @gob_var.meta_value[0,1] == "#"%>
  
  <div class="field">
    <%= f.label :meta_value %><br />
    <%= f.text_field :meta_value, :value => "" %>
  </div>
  
  <div class="field">
    <%= f.label :meta_color %><br />
    <%= text_field_tag :meta_value_color, @gob_var.meta_value %>
  </div>
  
  <%else%>
  
  <div class="field">
    <%= f.label :meta_value %><br />
    <%= f.text_field :meta_value %>
  </div>
  
  <div class="field">
    <%= f.label :meta_color %><br />
    <%= text_field_tag :meta_value_color  %>
  </div>
  
  <%end%>
  
  
  
  <div class="actions">
    <%= f.submit "Guardar"%>
  </div>
<% end %>

<script>

$( document ).ready(function() {
    $('#meta_value_color').minicolors();
});

</script>
