<h1>Registros de configuración</h1>

<table class="table">
  <tr>
    <th>Meta key</th>
    <th>Meta value</th>
    <th>Opciones</th>
  </tr>

<% @gob_vars.each do |gob_var| %>
  <tr>
    <td><%= gob_var.meta_key %></td>
    <td>
		<%if gob_var.meta_value[0,1] == "#"%>
		  <div class="cuadrado" style= "background: <%=gob_var.meta_value%>"></div>
		<%else%>
		  <%= gob_var.meta_value %>
		<%end%>	
	</td>
    <td>
	
    <%= link_to edit_gob_var_path(gob_var) do %>
      <i class="fa fa-pencil"></i>
    <%end%>
	
	<%= link_to gob_var, method: :delete, data: { confirm: 'Are you sure?' } do %>
	  <i class="fa fa-remove"></i>
	<%end%>
    </td>
	
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Registro', new_gob_var_path %>
