<p id="notice"><%= notice %></p>

<p>
  <b>Meta key:</b>
  <%= @gob_var.meta_key %>
</p>

<p>
  <b>Meta value:</b>
  <%= @gob_var.meta_value %>
</p>


<%= link_to 'Edit', edit_gob_var_path(@gob_var) %> |
<%= link_to 'Back', gob_vars_path %>
