<%= form_for(@gob_doc) do |f| %>
  <% if @gob_doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gob_doc.errors.count, "error") %> prohibited this gob_doc from being saved:</h2>

      <ul>
      <% @gob_doc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
  <select name ="dpto" id ="dpto">
    <option value="control">Procesos</option>
	<option value="Usuarios">Usuarios</option>
  </select>
   </div>

  <div class="field">
  <%= f.file_field :avatar %>
  </div>

  <div class="actions">
    <%= f.submit "Crear" %>
  </div>
<% end %>
