    <div class="row">
		<div class="col-md-12 col-xs-12">
			<div class="fields">
<h1>Migración de datos</h1>

<table class="table">
  <tr>
    
    <th>Tipo</th>
    <th>Archivo</th>
    <th>Opciones</th>
  </tr>

<% @gob_docs.each do |gob_doc| %>
  <tr>
    
    <td><%= gob_doc.dpto %></td>
	<td><%=link_to "archivo", gob_doc.avatar.url%></td>
    <td>
		<%= link_to gob_doc, method: :delete, data: { confirm: 'Are you sure?' } do %>
		  <i class="fa fa-remove"></i>
		<%end%>
       
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Migración', new_gob_doc_path %>

</div>
</div>
</div>