<h1>Migración de datos</h1>

<p>Archivo excel ejemplo de usuarios <a href="/ejemplo_usuarios.xls">Usuarios</a> </p>

<p>Ejemplo excel ejemplo de procesos <a href="/ejemplo_procesos.xls">Procesos</a> </p>

<%= render 'form' %>

<%= link_to 'Back', gob_docs_path %>
