<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gob_doc.name %>
</p>

<p>
  <b>Dpto:</b>
  <%= @gob_doc.dpto %>
</p>


<%= link_to 'Edit', edit_gob_doc_path(@gob_doc) %> |
<%= link_to 'Back', gob_docs_path %>
