/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require bootstrap.min
*= require bootstrap-reset 
*= require font-awesome
*= require style
*= require style-responsive  
*= require dropzone/dropzone
*= require DateTimePicker
*= require jquery.fancybox
*= require gallery
*= require jquery.minicolors
*= require_tree .
*/

.panel {
   /* border-style: solid !important;
    border-width: 1px 1px 1px 1px !important;
	border-color: #ECEAEA !important;
   */
   z-index: 0 !important;
}

.cuadrado {
     width: 70px; 
     height: 40px; 
}

.ouser_edit{
	margin-left: 10px;
}

  .textbox { 
    background: white; 
    border: 1px double #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #333; 
    color: #666; 
    outline: none; 
    height:35px; 
    width: 375px; 
  } 



.btn-style{
	border : solid 1px #e6e6e6;
	border-radius : 3px;
	height: 35px;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 12px;
	color : #696869;
	padding : 1px 17px;
	background : #ffffff;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(49%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background : -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -o-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );

}

select#user_id, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
   
}

h3{
  display: block;
  color: #008fbf;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 10px;
  margin-right: 0;
  font-weight: bold;
}

label {
	    font-weight: normal !important;
}

.inline_class{
	display: inline !important;
}

.float_none{
	float:none !important;

}

h2{
  display: block;
  color: #008fbf;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-right: 0;
  font-weight: bold;
}

.field label{
	font-weight: normal !important;
	text-transform: uppercase;
}

.sorting_desc {
    cursor: pointer;
}

.sorting {
    cursor: pointer;
}

.sorting_asc{
    cursor: pointer;
}

.dataTables_info{
  visibility: hidden;
}