@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?dusqaq');
	src:url('fonts/icomoon.eot?#iefixdusqaq') format('embedded-opentype'),
		url('fonts/icomoon.woff?dusqaq') format('woff'),
		url('fonts/icomoon.ttf?dusqaq') format('truetype'),
		url('fonts/icomoon.svg?dusqaq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icons-"], [class*=" icons-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icons-checkbox:before {
	content: "\e600";
}
.icons-color:before {
	content: "\e601";
}
.icons-fecha:before {
	content: "\e602";
}
.icons-imagen:before {
	content: "\e603";
}
.icons-numeros:before {
	content: "\e604";
}
.icons-radiobutton:before {
	content: "\e605";
}
.icons-parrafo:before {
	content: "\e606";
}
.icons-tipografia:before {
	content: "\e607";
}
.icons-unalinea:before {
	content: "\e608";
}
