@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background-color: #fff;
  color: #333;
  font-family: "Montserrat", arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: "Montserrat", arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: "Montserrat", arial, helvetica, sans-serif;}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #c6cad6;
  &:visited {
    color: #c6cad6;
  }
  &:hover {
    text-decoration: underline;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

legend {font-size:25px; color:#2a3542; font-weight:normal;}

.field {font-size:16px; text-transform:uppercase; letter-spacing:-0.04em; padding-bottom:5px; padding-top:5px;}


.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #2a3542;
    border-color: #2a3542;
    color: #FFFFFF;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
